<div class="row-g">
    <div class="sm-4">
        <div>
            {{ form_errors(form.ip) }}
        </div>
        <div class="row">
            {{ form_widget(form.ip) }}
            <span class="add-on"><i class="fa fa-map-pin"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.country) }}
        </div>
        <div class="row">
            {{ form_widget(form.country) }}
            <span class="add-on"><i class="fa fa-globe"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.city) }}
        </div>
        <div class="row">
            {{ form_widget(form.city) }}
            <span class="add-on"><i class="fa fa-map-signs"></i></span>
        </div>
    </div>
</div>

<div class="row-g">
    <div class="sm-3">
        <div>
            {{ form_errors(form.browser) }}
        </div>
        <div class="row">
            {{ form_widget(form.browser) }}
            <span class="add-on"><i class="fa fa-firefox"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.host) }}
        </div>
        <div class="row">
            {{ form_widget(form.host) }}
            <span class="add-on"><i class="fa fa-hotel"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.newSession) }}
        </div>
        <div class="row">
            {{ form_widget(form.newSession) }}
            <span class="add-on"><i class="fa fa-check"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.language) }}
        </div>
        <div class="row">
            {{ form_widget(form.language) }}
            <span class="add-on"><i class="fa fa-language"></i></span>
        </div>
    </div>
</div>

<fieldset class="row-g">
    <div class="sm-4">
        <div>
            {{ form_errors(form.referer) }}
        </div>
        <div class="row">
            {{ form_widget(form.referer) }}
            <span class="add-on"><i class="fa fa-google"></i></span>
        </div>
    </div>
    <div class="sm-2">
        <div>
            {{ form_errors(form.page) }}
        </div>
        <div class="row">
            {{ form_widget(form.page) }}
            <span class="add-on"><i class="fa fa-file"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.date) }}
        </div>
        <div class="row">
            {{ form_widget(form.date.left_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div class="row">
            {{ form_widget(form.date.right_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</fieldset>
{{ form_rest(form) }}




