{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% if displayMode in ["1", "3"] %}
    {% set fullScreen = true %}
{% endif %}

{% block title %}{{ label | trans }}{% endblock %}

{% block gkratz %}

    <section class="box full-screen-zone{% if displayMode in ["2", "3"] %} activated{% endif %}">
        {% if entities is not empty %}
            {% if name != 'trash' %}
                {% if displayMode not in ["0", "2"] %}
                    <a href="{{ path('homepage') }}" class="float-right window-action-button filters-toggle-button"><i class="fa fa-chevron-down"></i></a>
                {% endif %}
                <a class="float-right window-action-button list-display-button disabled"><i class="fa fa-th"></i></a>
                <a class="float-right window-action-button table-display-button disabled"><i class="fa fa-list"></i></a>
            {% endif %}
        {% endif %}
        <a href="{{ path('gkratz_admin_admin_' ~ name ~ '_mode', {classname: classShortName, mode: my_site.nextMode(displayMode)}) }}" class="pointer float-right window-action-button full-screen-button"><i class="fa fa-arrows-alt"></i></a>
        <div class="row">
            <h1>{{ label | trans }}{{ entities.getTotalItemCount is defined ? ' - ' ~ entities.getTotalItemCount : '' }}</h1>

            {% include '@GkratzAdmin/admin/__partial/form-filter-number-per-page.html.twig' %}
            <form class="row filter-form {{ entities is not empty ? 'slideUp' : '' }}" action="{{ path('gkratz_admin_admin_' ~ name ~ '_index') }}" method="post" style="margin-top: 15px">
                <div class="sm-12">
                    {% include '@GkratzAdmin/admin/' ~ name ~ '/form_filter.html.twig' %}
                </div>
                <div class="row-g">
                    {% include '@GkratzAdmin/form/form-filter-buttons.html.twig' %}
                </div>
            </form>

            {% if entities is empty %}
                <div class="text-center">
                    <p class="error">{{ 'No entities' | trans }}</p>
                </div>
            {% else %}
                <div class="row-g">
                    <div class="sm-12 table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(entities, '#', 'a.id') }}</th>
                                <th>{{ knp_pagination_sortable(entities, 'Date' | trans, name ~ '.date') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Ip' | trans, name ~ '.ip') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Country' | trans, name ~ '.country') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'City' | trans, name ~ '.city') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Language' | trans, name ~ '.language') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Browser' | trans, name ~ '.browser') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Host' | trans, name ~ '.host') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Session' | trans, name ~ '.newSession') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Page' | trans, name ~ '.page') }} <i class="fa fa-sort"></i></th>
                                <th>{{ knp_pagination_sortable(entities, 'Referer' | trans, name ~ '.referer') }} <i class="fa fa-sort"></i></th>
                            </tr>
                            </thead>
                            <tbody id="databaseListItems">
                            {% for entity in entities %}
                                <tr tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow slideInRight" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}">
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.date | date('d/m/Y H:i:s') }}</td>
                                    <td>{{ entity.ip }}</td>
                                    <td>{{ entity.country }}</td>
                                    <td>{{ entity.city }}</td>
                                    <td>{{ entity.language | trans }}</td>
                                    <td>{{ entity.browser | trans }}</td>
                                    <td>{{ entity.host }}</td>
                                    <td>{% if entity.newSession == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                                    <td>{{ entity.page }}</td>
                                    <td>{{ entity.referer }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(entities) }}
                </div>

            {% endif %}
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% if entities is not empty %}
        {% set crud = name %}
        {% include '@GkratzAdmin/admin/__javascript/context-elements.html.twig' %}
    {% endif %}
{% endblock %}