{% if name != 'trash' %}
    {% if displayMode != "0" and displayMode != "2" %}
        <a href="{{ path('homepage') }}" class="float-right window-action-button filters-toggle-button"><i class="fa fa-chevron-down"></i></a>
    {% endif %}
    <a {% if displayMode != "0" and displayMode != "2" %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_mode', {classname: classShortName, mode: (displayMode == "1") ? "0": "2"}) }}"{% endif %} class="float-right window-action-button list-display-button {{ displayMode == "0" or displayMode == "2" ? 'disabled' }}"><i class="fa fa-th"></i></a>
    <a {% if displayMode != "1" and displayMode != "3" %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_mode', {classname: classShortName, mode: (displayMode == "0") ? "1": "3"}) }}"{% endif %} class="float-right window-action-button table-display-button {{ displayMode == "1" or displayMode == "3" ? 'disabled' }}"><i class="fa fa-list"></i></a>
{% endif %}
