{% for key, messages in app.session.flashbag.all() %}
    <div id="to-remove-123" class="tn-box tn-box-color-{{ key == 'success' ? 2 : 3 }} tn-box-active">
        {% for message in messages %}
            <p>{{ message | trans({}, 'FOSUserBundle') }}</p>
        {% endfor %}
        <div class="tn-progress"></div>
    </div>
{% endfor %}