<a {% if itemsPerPage is not defined or itemsPerPage != 25 %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_index', {items : 25}) }}"{% endif %} class="pointer float-right window-action-button seven filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 25 %}disabled{% endif %}"><small>25</small></a>
<a {% if itemsPerPage is not defined or itemsPerPage != 50 %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_index', {items : 50}) }}"{% endif %} class="pointer float-right window-action-button six filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 50 %}disabled{% endif %}"><small>50</small></a>
<a {% if itemsPerPage is not defined or itemsPerPage != 100 %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_index', {items : 100}) }}"{% endif %} class="pointer float-right window-action-button five filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 100 %}disabled{% endif %}"><small>100</small></a>
<a {% if itemsPerPage is not defined or itemsPerPage != 500 %}href="{{ path('gkratz_admin_admin_' ~ name ~ '_index', {items : 500}) }}"{% endif %} class="pointer float-right window-action-button four filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 500 %}disabled{% endif %}"><small>500</small></a>
