<nav class="aside-menu">
    <ul class="no-padding no-margin list-style-none">
        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_route_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_dashboard_index') }}"><i class="fa fa-dashboard fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_route_analytic' %}class="active element2"{% else %}class="element2"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_dashboard_analytic') }}"><i class="fa fa-line-chart fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_post_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_post_index') }}"><i class="fa fa-thumb-tack fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_menu_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_menu_index') }}"><i class="fa fa-reorder fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_map_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_map_index') }}"><i class="fa fa-map fa-2x"></i></a>
        </li>

        <li>
            <a href="{{ path('homepage') }}"><i class="fa fa-envelope fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_user_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_user_index') }}"><i class="fa fa-users fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_backup_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_backup_index') }}"><i class="fa fa-database fa-2x"></i></a>
        </li>

        <li {% if app.request.attributes.get('_route') == 'gkratz_admin_maintenance_maintenance_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_maintenance_maintenance_index') }}"><i class="fa fa-cogs fa-2x"></i></a>
        </li>

        <li id="dropTrash" {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_trash_index' %}class="active"{% endif %}>
            <a href="{{ path('gkratz_admin_admin_trash_index') }}" id="trashCountMenuItem" data-trashcount="{{ my_site.info.countTrash }}">
                <i class="fa fa-trash fa-2x"></i>
                {% if my_site.info.countTrash > 0 %}
                    <span class="badge">{{ my_site.info.countTrash }}</span>
                {% endif %}
            </a>
        </li>
    </ul>
</nav>