{% if pageCount > 1 %}
    <ul class="pagination list-glue">

        {% if previous is defined %}
            <li>
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-chevron-left"></i></a>
            </li>
        {% else %}
            <li class="disabled">
                <span><i class="fa fa-chevron-left"></i></span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <span>{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-chevron-right"></i></a>
            </li>
        {% else %}
            <li class="disabled">
                <span><i class="fa fa-chevron-right"></i></span>
            </li>
        {% endif %}
    </ul>
{% endif %}
