<section class="sm-4">
    <div class="box">
        <div class="row">
            <div class="sm-12">
                <h3>{{ 'Notifications' | trans }}</h3>
                <figure class="no-padding no-margin miniatures">
                    <img src="{{ asset('bundles/gkratzadmin/assets/logo.png') }}" alt="illustration de l'évènement">
                    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex hic soluta. Aspernatur commodi minus accusantium.</figcaption>
                </figure>
                <time datetime="2016-09-13T00:30:16">2016-09-13T00:30:16</time>
                <figure class="no-padding no-margin miniatures">
                    <img src="{{ asset('bundles/gkratzadmin/assets/Rectangle-8.png') }}" alt="illustration de l'évènement">
                    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex hic soluta. Aspernatur commodi minus accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla id ad esse soluta omnis ullam, nobis eaque reprehenderit pariatur molestias, eius. Molestias nemo possimus error, dolorem enim non eos consequatur.</figcaption>
                </figure>
                <time datetime="2015-09-13T00:30:16">2015-09-13T00:30:16</time>
                <figure class="no-padding no-margin miniatures">
                    <img src="{{ asset('bundles/gkratzadmin/assets/Rectangle-8.png') }}" alt="illustration de l'évènement">
                    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex hic soluta. Aspernatur commodi minus accusantium.</figcaption>
                </figure>
                <time datetime="2017-01-13T00:30:16">2017-01-13T00:30:16</time>
                <figure class="no-padding no-margin miniatures">
                    <img src="{{ asset('bundles/gkratzadmin/assets/Rectangle-8.png') }}" alt="illustration de l'évènement">
                    <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odit eaque praesentium! Quod dolore veniam eius sint dolores debitis totam dignissimos, aut tempore itaque cupiditate a nostrum voluptatibus facilis iure.</figcaption>
                </figure>
                <time datetime="2016-11-13T00:30:16">2016-11-13T00:30:16</time>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="row help">
            <div class="xs-12">
                <h3>{{ 'Need help?' | trans }}</h3>
            </div>
            <div class="xs-6 text-center"><a href="tel:0032497189998"><i class="fa fa-phone fa-5x"></i><br /><span>24h</span>/24 helpdesk</a></div>
            <div class="xs-6 text-center"><a href="mailto:admin@vsweb.be"><i class="fa fa-at fa-5x"></i><br />{{ 'assistance request' | trans }}</a></div>
        </div>
    </div>
</section>