{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}

    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}</title>

        {% include '@FOSUser/partial-email-css.html.twig' %}

    </head>
    <body>


    <section class="site-container">
        <div class="row">
            <section class="sm-10 md-8 lg-6 sm-offset-1 md-offset-2 lg-offset-3 fosuser">
                <div class="box">
                    <div class="row">
                        <h1>{{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}</h1>
                        <div class="row-g">
                            <p>
                                {% autoescape false %}
                                    {{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
                                {% endautoescape %}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    </body>
    </html>

{% endblock %}
