{% trans_default_domain 'FOSUserBundle' %}

<div class="row-g">
    <div>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request keyCode">
            <fieldset class="row">
                <aside class="sm-4">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                </aside>
                <input autofocus class="sm-8" type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>
                <span class="add-on">
                    <i class="fa fa-user"></i>
                </span>
            </fieldset>
            <button type="submit" class="btn-info float-right"><i class="fa fa-question"></i> {{ 'resetting.request.submit' | trans }}</button>
        </form>
    </div>
</div>
