{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'Forgot password' | trans({}, 'messages') }}{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock fos_user_content %}
