{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.reset.submit' | trans }}{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
