{% trans_default_domain 'FOSUserBundle' %}

<div class="row-g">
    <div>
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_request keyCode">
            <fieldset class="row">
                {{ form_errors(form.plainPassword.first) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.first) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.new_password', 'autofocus': 'autofocus'}}) }}
                    </div>
                </section>

                {{ form_errors(form.plainPassword.second) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.second) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.new_password_confirmation'}}) }}
                    </div>
                </section>
            </fieldset>
            {{ form_rest(form) }}
            <button type="submit" class="btn-info float-right"><i class="fa fa-unlock-alt"></i> {{ 'resetting.reset.submit' | trans }}</button>
        </form>
    </div>
</div>
