{% extends '@GkratzAdmin/admin/layout.html.twig' %}

{% block title %}{{ "Private messages" | trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .privateMessageBox {
            margin-top: 10px;
        }

        .privateMessageBox.float-right {
            background-color: #FFDD7B;
        }

        .privateMessageBox.new {
            background: #0090c5;
            color: #fff;
        }

        .privateMessageBox form button {
            width: 62px!important;
            height: 52px;
            margin: 10px 0 0 0;
        }

        .row-g small.float-right, .row-g small.float-left, .response {
            margin-top: 50px;
        }

        .row-g small.float-left {
            margin-left: 110px;
        }

        .triangle::before {
            display: block;
            content: '';
            clear: both;
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 60px solid #fff;
            -webkit-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
            position: absolute;
            top: -35px;
            left: 40px;
        }

        .privateMessageBox.float-right .triangle:not(.new)::before {
            border-left: 60px solid #FFDD7B;
        }

        .triangle.new::before {
            border-left: 60px solid #0090c5;
        }

        .privateMessageBox h5 span {
            position: absolute;
            left: -33px;
            width: 31px;
            height: 31px;
            overflow: hidden;
            border-radius: 50%;
            background-size: cover;
            top: 29px;
        }

        .emoji {
            width: 45px;
            height: 45px;
            overflow: hidden;
            display: inline-block !important;
            position: relative;
            top: 15px;
            background-size: 314px;
            background-image: url({{ asset('bundles/gkratzadmin/img/emojis.png') }});
        }
    </style>
{% endblock %}

{% block gkratz %}
    <section class="box">
        <div class="row">
            <h1>{{ 'Private messages' | trans }}</h1>
            <p class="sm-6">
                {{ 'There is one message|There are %count% messages' | transchoice(count) }}
            </p>
            <form action="" class="sm-6 float-right">
                <div class="row">
                    <select name="" id="" class="sm-12">
                        <option value="">{{ 'Sender' | trans }}</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="row">
                    <select name="" id="" class="sm-12">
                        <option value="">{{ 'Recipient' | trans }}</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </form>
        </div>
    </section>

    <div class="row">
        <div class="sm-12">

            {% for message in messages %}
                <section class="row-g clear-both">
                    <small class="sm-6 {{ message.sender == user ? "float-right text-right" : "float-left" }}"><time datetime="{{ message.date | date("Y-m-d") ~ "T" ~ message.date | date("H:i:s") }}">{{ message.date | date("Y-m-d") ~ "T" ~ message.date | date("H:i:s") }}</time></small>
                </section>

                <section class="row-g clear-both">
                    <div class="{{ message.sender == user ? "float-right" : "float-left" }} sm-6 box privateMessageBox {{ message.adminSeenTimes == 1 and message.sender != app.user ? "new" }}">
                        <div class="triangle {{ message.adminSeenTimes == 1 and message.sender != app.user ? "new" }}"></div>
                        <div class="row">
                            <div>
                                <h5><span style="background-image: url({{ message.sender.avatar != null ? asset(message.sender.avatar) : asset("bundles/gkratzadmin/img/avatar.png") }});"></span>{{ message.sender.username | title }}</h5>
                                {{ message.message | emoji(asset('bundles/gkratzadmin/img/emojis.png')) | raw }}
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}

            <section class="row-g clear-both response">
                <div class="float-left sm-6 box privateMessageBox">
                    <div class="triangle"></div>
                    <div class="row">
                        <div>
                            <h5><span style="background-image: url({{ app.user.avatar != null ? asset(app.user.avatar) : asset("bundles/gkratzadmin/img/avatar.png") }});"></span>{{ 'New response' | trans }}</h5>
                            <form method="post" action="{{ path('gkratz_admin_admin_message_send', {user: user.id}) }}" class="row">
                                {{ form_errors(form.message) }}
                                {{ form_widget(form.message) }}
                                {{ form_rest(form) }}
                                <button class="btn-info float-right pointer"><i class="fa fa-send fa-2x"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.autosize').autosize();
        });
    </script>
{% endblock %}