{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'Update profile' | trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gkratzadmin/css/jquery.ezdz.min.css') }}">
{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {% include '@GkratzAdmin/admin/__javascript/input-file.html.twig' %}
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% if my_site.info.googleMapApikey != 'YOUR_APIKEY' %}
        <script type="text/javascript">
            function initPlaces() {
                var input = /** @type {!HTMLInputElement} */(
                        document.getElementById('gkratz_profile_form_address'));
                var autocomplete = new google.maps.places.Autocomplete(input);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&libraries=places&callback=initPlaces" async defer></script>
    {% endif %}
{% endblock %}
