{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'Profile' | trans }}{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}

