<div class="row-g">
    <div class="fos_user_user_show">
        <div class="profile float-right">
            {% if user.avatar == null %}
                {% set avatarSrc = 'bundles/gkratzadmin/img/avatar.png' %}
            {% else %}
                {% set avatarSrc = 'uploads/avatar/' ~ user.avatar %}
            {% endif %}
            <div class="profileBig" style="background-image: url({{ asset(avatarSrc) }})"></div>
        </div>
        <label class="block clear-both">{{ 'Username'|trans }}: <strong class="float-right">{{ user.username }}</strong></label>
        <label class="block">{{ 'Email'|trans }}: <strong class="float-right">{{ user.email }}</strong></label>

        <label class="block">{{ 'Lastname'|trans }}: <strong class="float-right">{{ user.lastname | capitalize }}</strong></label>
        <label class="block">{{ 'Firstname'|trans }}: <strong class="float-right">{{ user.firstname | capitalize }}</strong></label>

        <label class="block">{{ 'Phone' | trans }}: <strong class="float-right">{{ user.phoneNumber }}</strong></label>
        <label class="block">{{ 'Birthdate' | trans }}: <strong class="float-right">{{ user.birthdate is not null ? user.birthdate|date('d M Y') : "N/A" }}</strong></label>

        <label class="block">{{ 'Address'|trans }}:</label>
        <address class="float-right">
            <strong>
                {{ user.address }}
            </strong>
        </address>
        <div class="clear-both btn-bar text-right margin-top-100">
            <a href="{{ path('fos_user_change_password') }}" class="btn-info inline-block"><i class="fa fa-user-secret"></i> {{ 'Update password' | trans }}</a>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn-info inline-block"><i class="fa fa-user"></i> {{ 'Update profile' | trans }}</a>
        </div>
    </div>
</div>
