{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}404{% endblock %}
{% block stylesheets %}{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>404</h1>
            <div class="text-center">
                <p class="error">{{ 'Unable to find entity.' | trans }}</p>
            </div>
        </div>
    </section>

{% endblock %}