{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ label | trans }} | {{ 'Add' | trans }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>{{ label | trans }} - {{ 'Add' | trans }}</h1>
            <form method="post" action="{{ path(addRoute, {id: entity.id}) }}" class="sm-12 keyCode">
                {% include '@GkratzAdmin/admin/' ~ name ~ '/form.html.twig' %}
                {% include '@GkratzAdmin/form/form-buttons.html.twig' %}
            </form>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% if name == 'user' %}
        {% if my_site.info.googleMapApikey != 'YOUR_APIKEY' %}
            <script type="text/javascript">
                function initPlaces() {
                    var input = /** @type {!HTMLInputElement} */(
                            document.getElementById('appbundle_user_address'));
                    var autocomplete = new google.maps.places.Autocomplete(input);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&libraries=places&callback=initPlaces" async defer></script>
        {% endif %}
        <script>
            $(document).ready(function(){
                var cleave = new Cleave('.cleave-phone', {
                    phone: true,
                    phoneRegionCode: 'AU'
                });
            });
        </script>
    {% endif %}
{% endblock %}
