{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% set fullScreen = true %}

{% block title %}{{ label | trans }} | {{ 'Compare' | trans }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>{{ label | trans }} - {{ 'Compare' | trans }}</h1>

            <div class="sm-12">
                <div class="row-g">
                    {% for entity in entities %}
                        <div class="sm-6">
                                {% if loop.first %}
                                     <div class="text-left">
                                    <a href="{{ path('gkratz_admin_admin_post_reload', {rev: entity.revision.rev, id: entity.entity.id}) }}" class="btn-info inline-block"><i class="fa fa-refresh"></i> {{ 'Reload this revision' | trans }}</a>
                                {% else %}
                                    <div class="text-right">
                                        <form action="" class="row">
                                            <select name="" id="select-revision" class="revision-select sm-4">
                                                <option value="">{{ 'Browse revisions' | trans }}</option>
                                                {% for revision in revisions %}
                                                    {% if revision.rev != entities.0.revision.rev and not loop.first %}
                                                        <option value="{{ path('gkratz_admin_admin_' ~ name ~ '_compare', {id: entities.1.entity.id, rev: revision.rev}) }}">
                                                            {{ revision.timestamp | date('d M Y H:i') }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </form>
                                {% endif %}
                            </div>
                            <p>
                                <i class="fa fa-calendar"></i> <time datetime="{{ entity.revision.timestamp | date('Y-m-d') ~ 'T' ~ entity.revision.timestamp | date('H:i:s') }}">{{ entity.revision.timestamp | date('Y-m-d') ~ 'T' ~ entity.revision.timestamp | date('H:i:s') }}</time>
                                <i class="fa fa-user"></i> <small>{{ entity.revision.username | capitalize }}</small>
                            </p>
                            {% include '@GkratzAdmin/admin/' ~ name ~ '/compare.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#select-revision').change(function(){
                if($(this).val() != ''){
                    window.location = $(this).val();
                }
            });
        });
    </script>
{% endblock %}