{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ label | trans }} | {{ 'Edit' | trans }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>{{ label | trans }} - {{ 'Edit' | trans }}</h1>

            {#TODO IF YOU WANT TO ENABLE AUDITING FOR AN ENTITY                             #}
            {#TODO SEE CONFIG FOR AUDITING, UPDATE DATABASE SCHEMA                          #}
            {#TODO AND CHANGE:                                                              #}
            {#TODO {% if nbRevisions is defined and nbRevisions >= 2 and name == 'post' %}  #}
            {#TODO BY                                                                       #}
            {#TODO {% if nbRevisions is defined and nbRevisions >= 2 and name in ['post', 'foobar'] %}  #}
            {% if nbRevisions is defined and nbRevisions >= 2 and name == 'post' %}
                <h2 class="text-right">{{ nbRevisions }} {{ 'revisions' | trans }}</h2>
                <div class="top-bar">
                    <a href="{{ path('gkratz_admin_admin_' ~ name ~ '_compare', {id: entity.id}) }}" class="float-right inline-block btn-info"><i class="fa fa-refresh fa-spin"></i> {{ 'Browse revisions' | trans }}</a>
                </div>
            {% endif %}

            <form method="post" action="{{ path(editRoute, {id: entity.id}) }}" class="sm-12 keyCode">
                {% include '@GkratzAdmin/admin/' ~ name ~ '/form.html.twig' %}
                {% include '@GkratzAdmin/form/form-buttons.html.twig' %}
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% if name == 'user' %}
        {% if my_site.info.googleMapApikey != 'YOUR_APIKEY' %}
            <script type="text/javascript">
                function initPlaces() {
                    var input = /** @type {!HTMLInputElement} */(
                            document.getElementById('appbundle_user_address'));
                    var autocomplete = new google.maps.places.Autocomplete(input);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&libraries=places&callback=initPlaces" async defer></script>
        {% endif %}
        <script type="text/javascript">
            $(document).ready(function(){
                var cleave = new Cleave('.cleave-phone', {
                    phone: true,
                    phoneRegionCode: 'AU'
                });
            });
        </script>
    {% endif %}
{% endblock %}