{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ label | trans }}{% endblock %}

{% block gkratz %}

    {% block filter %}{% endblock %}

    <section class="box full-screen-zone{% if displayMode in ["2", "3"] %} activated{% endif %}">
        {% if entities is not empty %}
            {% include '@GkratzAdmin/admin/__partial/displaymode-buttons.html.twig' %}
        {% endif %}
        <a href="{{ path('gkratz_admin_admin_' ~ name ~ '_mode', {classname: classShortName, mode: my_site.nextMode(displayMode)}) }}" class="pointer float-right window-action-button full-screen-button"><i class="fa fa-arrows-alt"></i></a>
        <div class="row">
            <h1>{{ label | trans }}{{ entities.getTotalItemCount is defined ? ' - ' ~ entities.getTotalItemCount : '' }}</h1>

            {% if displayMode not in ["0", "2"] %}
                {% include '@GkratzAdmin/admin/__partial/form-filter-number-per-page.html.twig' %}
                <form class="row filter-form {{ entities is not empty ? 'slideUp' : '' }}" action="{{ path('gkratz_admin_admin_' ~ name ~ '_index') }}" method="post" style="margin-top: 15px">
                    <div class="sm-12">
                        {% include '@GkratzAdmin/admin/' ~ name ~ '/form_filter.html.twig' %}
                    </div>
                    <div class="row-g">
                        {% include '@GkratzAdmin/form/form-filter-buttons.html.twig' %}
                    </div>
                </form>
            {% endif %}

                {% block buttons %}{% endblock %}

                {% if entities is empty %}
                    <div class="text-center">
                        <p class="error">{{ 'No entities' | trans }}</p>
                    </div>
                {% else %}

                    {% block entities %}{% endblock %}

                    <div class="modal-form">
                        <form id="multiple-delete" action="{{ path('gkratz_admin_admin_' ~ name ~ '_delete', {classname: classShortName}) }}" method="post">
                            {{ form_widget(multipleForm.ids) }}
                            {{ form_rest(multipleForm) }}
                            <a id="multiple-delete-button" class="hidden display-none" type="submit"><i class="fa fa-trash"></i> {{ 'Delete' | trans }}</a>
                        </form>
                    </div>
                {% endif %}
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% if entities is not empty %}
        {% set crud = name %}
        {% include '@GkratzAdmin/admin/__javascript/context-elements.html.twig' %}
        {% if displayMode  in ["0", "2"] %}
            {% include '@GkratzAdmin/admin/__javascript/drag-and-drop.html.twig' %}
        {% endif %}
    {% endif %}
    {% if my_site.info.googleMapApikey != 'YOUR_APIKEY' %}
        {% if name == 'user' %}
            {% set googleAutocompleteField = 'user_filter_address' %}
        {% elseif name == 'map' %}
            {% set googleAutocompleteField = 'map_filter_address' %}
        {% endif %}
        {% if goo is defined %}
            <script type="text/javascript">
                function initPlaces() {
                    var input = /** @type {!HTMLInputElement} */(
                            document.getElementById('{{ googleAutocompleteField }}'));
                    var autocomplete = new google.maps.places.Autocomplete(input);
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&libraries=places&callback=initPlaces" async defer></script>
        {% endif %}
    {% endif %}
{% endblock %}