<!DOCTYPE html>
<html{% if displayMode is defined %}{{ displayMode in ["2", "3"] ? ' class="full-screen-mode"' : '' }}{% endif %}>
<head>
    <meta charset="UTF-8" />

    <title>{{ my_site.info.name | capitalize }} | {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gkratzadmin/css/font-awesome.min.css') }}">

    {% stylesheets filter="scssphp" output="css/admin.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/iroom.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/classic.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/classic.date.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/context-menu.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/select2.min.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/animate.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <!--balises meta-->
    <meta name="author" content="KRATZ Geoffrey"/>
    <meta name="description" content="BLA BLA BLA"/>
    <meta name="keywords" content="BLA, BLA, BLA"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="link-animated
 {% if app.request.attributes.get('_route') == 'gkratz_admin_admin_route_analytic' %} animated{% endif %}
">

<div class="animation-loading"><div></div></div>
<!-- enlever class animated du body pour désactiver et les divs au dessus -->
<section class="site-container">
    <div class="ajax-load-wrapper">
        <aside class="main-aside">
            <div class="wrapper">
                <div class="profile">
                    <a href="{{ path('fos_user_profile_show') }}" title="CTRL + P">
                        {% if app.user.avatar == null %}
                            {% set avatarSrc = 'bundles/gkratzadmin/img/avatar.png' %}
                        {% else %}
                            {% set avatarSrc = 'uploads/avatar/' ~ app.user.avatar %}
                        {% endif %}
                        <div class="profileSmall" style="background-image: url({{ asset(avatarSrc) }})"></div>
                    </a>
                </div>
                <a href="{{ path('fos_user_security_logout') }}" class="block logout"><i class="fa fa-sign-out"> {{ 'sign out' | trans }}</i></a>

                {% include '@GkratzAdmin/admin/__partial/menu.html.twig' %}

            </div>
        </aside>
        <div class="main-main">
            <header class="main-header">
                <div id="nav-icon1" class="visible-xs visible-sm">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                {% if my_site.info.logo == null %}
                    <a href="{{ path('homepage') }}" title="CTRL + H"><img src="{{ asset('bundles/gkratzadmin/assets/logo.png') }}" alt="Logo GKAdminBundle"/></a>
                {% else %}
                    <a href="{{ path('homepage') }}" title="CTRL + H"><img src="{{ asset('uploads/img/filemanager/' ~ my_site.info.logo) }}" alt="Logo {{ my_site.info.name | capitalize }}"/></a>
                {% endif %}
                <nav class="topmenu float-right">
                    <ul class="list-inline no-margin no-padding">
                        <li>
                            <form action="{{ path('gkratz_admin_admin_search_search') }}" class="form-glue float-right" id="search" method="post">
                                {{ render(controller('GkratzAdminBundle:Admin/Search:index', {request: app.request})) }}
                            </form>
                        </li>
                        <li><a href="{{ path('homepage') }}" title="CTRL + H"><i class="fa fa-home"></i></a></li>
                        <li><a href="{{ path('gkratz_admin_admin_message_index') }}"><i class="fa fa-comments"></i><span class="badge">12</span></a></li>
                        <li><a href="notifs.html"><i class="fa fa-bell"></i></a></li>
                    </ul>
                </nav>
                <h1 class="visible-md visible-lg">{{ 'Hi,' | trans }} <span><a href="{{ path('fos_user_profile_show') }}" title="CTRL + P">{{ app.user.firstname | capitalize }}!</a></span></h1>
                <div class="clear-both"></div>
            </header>

            <div class="row-g">
                <div class="{{ fullScreen is not defined ? 'sm-8' : 'sm-12' }}">

                    {% include '@GkratzAdmin/admin/__partial/flashbag-admin.html.twig' %}

                    {% block gkratz %}{% endblock %}

                </div>

                {% if fullScreen is not defined %}
                    {% include '@GkratzAdmin/admin/__partial/sidebar.html.twig' %}
                {% endif %}

            </div>

        </div>
    </div>

</section>

{% javascripts filter="?jsqueeze" output="js/admin.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/timeago.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.ezdz.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.time.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.date.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/myChart.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/Chart.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/context-menu/jquery.contextMenu.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery-ui/jquery-ui.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/context-menu/jquery.ui.position.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.validate.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/select2.full.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.autosize.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/cleave.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/cleave.i18n.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.divascookies-0.6.min.js"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/js/iroom.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $.DivasCookies({
        bannerText				: "{{ 'We use cookies to track usage and improve the website. ' | trans }}",		// text for the Divas Cookies banner
        cookiePolicyLink		: "https://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm",		// link to the extended cookie policy
        cookiePolicyLinkText	: "{{ 'More' | trans }}",				// text for the link to the extended cookie policy
        thirdPartyPolicyWidget	: "",						// if set to "iubenda" tries to use the Iubenda widget
        acceptButtonText		: "x",						// text for the close button
        acceptButtonSrc			: "",						// source for the close button image
        openEffect				: "slideUp",				// opening effect for Divas Cookies banner ["fade", "slideUp", "slideDown", "slideLeft", "slideRight"]
        openEffectDuration		: 600,						// duration of the opening effect (msec)
        openEffectEasing		: "swing",					// easing for the opening effect
        closeEffect				: "slideDown",				// closing effect for Divas Cookies banner ["fade", "slideUp", "slideDown", "slideLeft", "slideRight"]
        closeEffectDuration		: 600,						// duration of the closing effect (msec)
        closeEffectEasing		: "swing",					// easing for the closing effect
        debugMode				: false,					// if true, the options are checked and warnings are shown
        saveUserPreferences		: true,						// if true, sets a cookie after the Divas Cookies is closed the first time and never shows it again
        cookieDuration			: 30,						// number of days after which the Divas Cookie technical cookie will expire (default 365 days)
        blockScripts			: false,					// set this to true if you blocked scripts by wrapping them with if($.DivasCookies.optedIn()){**script to be blocked**} (default false)
        pageReload				: false,					// if true reloads the actual page after opt-in to show the previuosly blocked scripts (default false)
        acceptOnScroll			: false,					// if true sets the Divas Cookie technical cookie on page scroll for cookies agreement (default false)
        acceptOnClick			: false,					// if true sets the Divas Cookie technical cookie on click on any <a> in the page except that on Divas Cookies banner for cookies agreement (default false)
        excludePolicyPage		: true						// if true excludes the cookie policy page from acceptOnScroll and acceptOnClick (default false)
    });
</script>

{% if app.request.locale == 'fr' %}
    <script>
        $(document).ready(function(){
            // French
            jQuery.timeago.settings.strings = {
                // environ ~= about, it's optional
                prefixAgo: "il y a",
                prefixFromNow: "d'ici",
                seconds: "moins d'une minute",
                minute: "environ une minute",
                minutes: "%d minutes",
                hour: "environ une heure",
                hours: "environ %d heures",
                day: "un jour",
                days: "%d jours",
                month: "environ un mois",
                months: "%d mois",
                year: "environ un an",
                years: "%d ans"
            };
            $('time').timeago();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            // English
            jQuery.timeago.settings.strings = {
                // environ ~= about, it's optional
                prefixAgo: null,
                prefixFromNow: null,
                suffixAgo: "ago",
                suffixFromNow: "from now",
                inPast: 'any moment now',
                seconds: "less than a minute",
                minute: "about a minute",
                minutes: "%d minutes",
                hour: "about an hour",
                hours: "about %d hours",
                day: "a day",
                days: "%d days",
                month: "about a month",
                months: "%d months",
                year: "about a year",
                years: "%d years",
            };
            $('time').timeago();
        });
    </script>
{% endif %}

<script src="{{ asset('bundles/gkratzadmin/js/wow.min.js') }}"></script>
<script>
    new WOW().init();
</script>

{% set original_url = 'gkratz_admin_admin_route_index' %}
{% include '@GkratzAdmin/admin/__javascript/keys.html.twig' %}

{% block javascripts %}{% endblock %}

<div class="animation-link"></div>
<!-- enlever class link-animated du body pour désactiver et les divs au dessus -->
<div id="scroll-to-top" class="btn-primary hidden"><i class="fa fa-chevron-up"></i></div>
</body>
</html>
