{% extends '@FOSUser/layout.html.twig' %}

{% block title %}{{ entity.title | capitalize }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block fos_user_content %}

    <section class="row">
        <br>
        <br>

        <section class="row-g">
            {{ entity.content | raw }}
        </section>

        <br>
        <br>
    </section>

{% endblock %}