{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ label | trans }} | {{ 'View' | trans }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>{{ label | trans }} - {{ 'View' | trans }}</h1>


            {% if name == 'map' %}
                <div id="myMap{{ entity.id }}" style="height: 400px"></div>
                {{ map(entity.id) }}
            {% endif %}

            <form method="post" action="{{ path(editRoute, {id: entity.id}) }}" class="sm-12 keyCode">
                {% include '@GkratzAdmin/admin/' ~ name ~ '/form.html.twig' %}
                <div class="text-right">
                    <a href="{{app.request.headers.get('referer') }}" class="btn-error float-left half-width"><i class="fa fa-arrow-left"></i> {{ 'Back' | trans }}</a>
                    <span class="clear-both"></span>
                </div>
            </form>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
{% endblock %}