{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ "Trash" | trans }}{% endblock %}

{% block gkratz %}
    <section class="box full-screen-zone {{ displayMode in ["2", "3"] ? 'activated' : '' }}">
        <a href="{{ path('gkratz_admin_admin_trash_mode', {classname: 'Trash', mode: my_site.nextMode(displayMode)}) }}" class="pointer float-right window-action-button full-screen-button"><i class="fa fa-arrows-alt"></i></a>
        <div class="row">
            <h1>{{ 'Trash' | trans }}</h1>

            <div class="trash-content" data-message="{{ 'No entities' | trans }}">
                {% if entities is empty %}
                    <div class="text-center">
                        <p class="error">{{ 'No entities' | trans }}</p>
                    </div>
                {% else %}
                    <div class="sm-12 btn-bar text-right">
                        <a class="btn-error inline-block disabled single-permanent-delete-button" href="{{ path('homepage') }}"><i class="fa fa-trash"></i> {{ 'Permanent delete' | trans }}</a>
                        <a class="btn-info inline-block disabled single-restore-button" href="{{ path('homepage') }}"><i class="fa fa-undo"></i> {{ 'Restore' | trans }}</a>
                        <a id="multiple-permanent-delete-all-button" class="pointer btn-error inline-block" type="submit"><i class="fa fa-trash"></i> {{ 'Permanent delete all elements' | trans }}</a>
                    </div>

                    <ul id="databaseListItems" class="list-inline">

                        {% for entity in entities %}

                            <li tabindex="{{ loop.index }}" class="databaseItem {% if entity.softDeleted == 1 %}softdeleted{% endif %} wow bounceIn" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}">
                                <div>
                                    <i class="fa fa-5x fa-trash"></i>
                                </div>
                                <p class="text-center">
                                    {{ entity.trashName | capitalize | truncate(13) }}{{ ' #' ~ entity.legende | truncate(13) }}
                                </p>
                            </li>

                        {% endfor %}

                    </ul>

                    <div class="modal-form">
                        <form id="multiple-restore" action="{{ path('gkratz_admin_admin_trash_manage', {state: 0}) }}" data-action="{{ path('gkratz_admin_admin_trash_manage', {state: 0}) }}" method="post">
                            {{ form_widget(multipleForm.ids) }}
                            {{ form_rest(multipleForm) }}
                            <button id="multiple-restore-button" class="hidden display-none" type="submit"><i class="fa fa-check"></i> {{ 'Restore' | trans }}</button>
                        </form>
                    </div>
                    <a id="multiple-permanent-delete-button" class="hidden display-none" type="submit"><i class="fa fa-trash"></i> {{ 'Permanent delete' | trans }}</a>

                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    {% set crud = 'trash' %}
    {% include '@GkratzAdmin/admin/__javascript/context-elements.html.twig' %}
{% endblock %}