<fieldset class="row">
    <label for="title" class="sm-12">{{ 'Title' | trans }}</label>
    <div id="title" class="highlight-audit-box  sm-12">
           {{ entity.entity.title | comparetext ((loop.first) ? entities.1.entity.title : entities.0.entity.title, (loop.first) ? 'red' : 'green') }}
    </div>
    <br />
    <br />
    <label for="content" class="sm-12">{{ 'Content' | trans }}</label>
    <div class="highlight-audit-box sm-12">
        {{ entity.entity.content | comparetext ((loop.first) ? entities.1.entity.content : entities.0.entity.content, (loop.first) ? 'red' : 'green') }}
    </div>
</fieldset>