<div class="row-g">
    <div class="sm-6">
        <div>
            {{ form_errors(form.title) }}
        </div>
        <div class="row">
            {{ form_widget(form.title) }}
            <span class="add-on"><i class="fa fa-tag"></i></span>
        </div>
    </div>
    <div class="sm-6">
        <div>
            {{ form_errors(form.content) }}
        </div>
        <div class="row">
            {{ form_widget(form.content) }}
            <span class="add-on"><i class="fa fa-tag"></i></span>
        </div>
    </div>
</div>
<div class="row-g">
    <div class="sm-4">
        <div>
            {{ form_errors(form.page) }}
        </div>
        <div class="row">
            {{ form_widget(form.page) }}
            <span class="add-on"><i class="fa fa-tag"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.publicationDate) }}
        </div>
        <div class="row">
            {{ form_widget(form.publicationDate) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.menu) }}
        </div>
        <div class="row">
            {{ form_widget(form.menu) }}
            <span class="add-on"><i class="fa fa-ordered"></i></span>
        </div>
    </div>
</div>
<fieldset class="row-g">
    <div class="sm-3">
        <div>
            {{ form_errors(form.slug) }}
        </div>
        <div class="row">
            {{ form_widget(form.slug) }}
            <span class="add-on"><i class="fa fa-tag"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.author) }}
        </div>
        <div class="row">
            {{ form_widget(form.author) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.lastModificationDate) }}
        </div>
        <div class="row">
            {{ form_widget(form.lastModificationDate.left_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div class="row">
            {{ form_widget(form.lastModificationDate.right_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</fieldset>
{{ form_rest(form) }}