<fieldset class="row">

    {{ form_errors(form.title) }}
    <aside class="sm-4">
        {{ form_label(form.title) }}
    </aside>
    {{ form_widget(form.title) }}
    <span class="add-on">
        <i class="fa fa-tag"></i>
    </span>

    {#{{ form_errors(form.content) }}#}
    {#<aside class="sm-4">#}
        {#{{ form_label(form.content) }}#}
    {#</aside>#}
    {#<section class="sm-8">#}
        {#<div class="row">#}
            {#{{ form_widget(form.content) }}#}
        {#</div>#}
    {#</section>#}

    <div class="sm-12">
        {{ form_row(form.content) }}
    </div>

</fieldset>
<fieldset class="row">

    {{ form_errors(form.page) }}
    <aside class="sm-4">
        {{ form_label(form.page) }}
    </aside>
    {{ form_widget(form.page) }}
    <span class="add-on">
        <i class="fa fa-file"></i>
    </span>

    {% if form.menu is defined %}
        {{ form_errors(form.menu) }}
        <aside class="sm-4">
            {{ form_label(form.menu) }}
        </aside>
        {{ form_widget(form.menu) }}
        <span class="add-on">
        <i class="fa fa-reorder"></i>
    </span>
    {% endif %}

</fieldset>
<fieldset class="row">

    {% if form.publicationDate is defined %}
        {{ form_errors(form.publicationDate) }}
        <aside class="sm-4">
            {{ form_label(form.publicationDate) }}
        </aside>
        {{ form_widget(form.publicationDate) }}
        <span class="add-on">
            <i class="fa fa-calendar"></i>
        </span>

        {{ form_errors(form.publicationTime) }}
        <aside class="sm-4">
            {{ form_label(form.publicationTime) }}
        </aside>
        {{ form_widget(form.publicationTime) }}
        <span class="add-on">
            <i class="fa fa-calendar"></i>
        </span>
    {% endif %}

</fieldset>
<fieldset class="row">

    {{ form_errors(form.tags) }}
    <aside class="sm-4">
        {{ form_label(form.tags) }}
    </aside>
    <section class="sm-8">
        <div class="row">
            {{ form_widget(form.tags) }}
        </div>
    </section>
    <span class="add-on">
        <i class="fa fa-tags"></i>
    </span>

    {% if form.newTags is defined %}
        {{ form_errors(form.newTags) }}
        <aside class="sm-4">
            {{ form_label(form.newTags) }}
        </aside>
        <section class="sm-8">
            <div class="row">
                {{ form_widget(form.newTags) }}
            </div>
        </section>
        <span class="add-on">
            <i class="fa fa-tags"></i>
        </span>
    {% endif %}
</fieldset>
{{ form_rest(form) }}