{% extends '@GkratzAdmin/admin/index.html.twig' %}

{% if displayMode in ["3", "1"] %}
    {% set fullScreen = true %}
{% endif %}

{% block buttons %}
    <div class="sm-12 btn-bar text-right">
        {% if entities is not empty %}
            <a class="btn-error inline-block disabled single-delete-button pointer"><i class="fa fa-trash"></i> {{ 'Delete' | trans }}</a>
            <a class="btn-info inline-block disabled single-view-button"><i class="fa fa-eye"></i> {{ 'View' | trans }}</a>
            <a class="btn-info inline-block disabled single-edit-button"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
        {% endif %}
        <a href="{{ path('gkratz_admin_admin_' ~ name ~ '_add') }}" class="btn-info inline-block"><i class="fa fa-plus"></i> {{ 'Add' | trans }}</a>
    </div>
{% endblock %}

{% block entities %}
    {% if displayMode in ["0", "2"] %}

        <ul id="databaseListItems" class="list-inline">
            {% for entity in entities %}
                <li tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow bounceIn" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}"
                    data-editurl="{{ path('gkratz_admin_admin_' ~ name ~ '_edit', {id: entity.id}) }}"
                    data-viewurl="{{ path('gkratz_admin_admin_' ~ name ~ '_view', {id: entity.id}) }}">

                    <div>
                        <i class="fa fa-5x fa-thumb-tack"></i>
                    </div>
                    <p class="text-center">{{ entity.title | capitalize | truncate(17) }}</p>

                </li>
            {% endfor %}
        </ul>

    {% else %}

        <div class="row-g">
            <div class="sm-12 table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(entities, '#', name ~ '.id') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Title' | trans, name ~ '.title') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Slug' | trans, name ~ '.slug') }} <i class="fa fa-sort"></i></th>
                        <th>{{ 'Tags' | trans }}</th>
                        <th>{{ knp_pagination_sortable(entities, 'Author' | trans, 'u.username') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Last modification date' | trans, name ~ '.lastModificationDate') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Page' | trans, name ~ '.page') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Published' | trans, name ~ '.publicationDate') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Add to menu items' | trans, name ~ '.menu') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Content' | trans, name ~ '.content') }} <i class="fa fa-sort"></i></th>
                    </tr>
                    </thead>
                    <tbody id="databaseListItems">
                    {% for entity in entities %}
                        <tr tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow slideInRight" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}"
                            data-editurl="{{ path('gkratz_admin_admin_' ~ name ~ '_edit', {id: entity.id}) }}"
                            data-viewurl="{{ path('gkratz_admin_admin_' ~ name ~ '_view', {id: entity.id}) }}">
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.slug }}</td>
                            <td>
                                <ul class="list-style-none">
                                    {% for tag in entity.tags %}
                                        <li><em>{{ tag.name | capitalize }}</em></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ entity.author.username | capitalize }}</td>
                            <td>{{ entity.lastModificationDate | date('d M Y H:i:s') }}</td>
                            <td>{% if entity.page == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                            <td>{% if entity.publicationDate | date('Y-m-d H:i:s') > 'now' | date('Y-m-d H:i:s') %}{{ 'no' | trans }}{% else %}{{ 'yes' | trans }}{% endif %}</td>
                            <td>{% if entity.menu == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                            <td>{{ entity.content | striptags | truncate(400) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(entities) }}
        </div>

    {% endif %}

{% endblock %}