{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ "analytics" | trans({}, "analytics") }}{% endblock %}
{% block stylesheets %}
    <style>
        .myGCharts > div {
            width: 100%!important;
        }
        .myGCharts {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .myGCharts::before, .myGCharts::after {
            display: table;
            content: " ";
            box-sizing: border-box;
        }
        .myGCharts::after {
            clear: both;
        }
    </style>
{% endblock %}

{% block gkratz %}
    <section class="box">

        <div class="row">
            <h1>{{ "analytics" | trans({}, "analytics") }}</h1>
            <div class="sm-12 btn-bar text-right">
                <a class="btn-info inline-block" href="{{ path('gkratz_admin_admin_analytic_index') }}"><i class="fa fa-table"></i> {{ 'Table' | trans({}, 'messages') }}</a>
                <a class="btn-error inline-block" href="{{ path('gkratz_admin_admin_analytic_drop') }}"><i class="fa fa-trash"></i> {{ 'Reset' | trans }}</a>
            </div>
            <div id="sevenDaysPerUser" class="sm-12 myGCharts"></div>
            <div id="oneYearPerUser" class="sm-12 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="sevenDaysPerCountry" class="sm-8 myGCharts"></div>
            <div id="pieOneWeekPerCountry" class="sm-4 myGCharts"></div>
            <div id="oneYearPerCountry" class="sm-8 myGCharts"></div>
            <div id="pieOneYearPerCountry" class="sm-4 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="pieOneWeekPerCity" class="sm-4 myGCharts"></div>
            <div id="sevenDaysPerCity" class="sm-8 myGCharts"></div>
            <div id="pieOneYearPerCity" class="sm-4 myGCharts"></div>
            <div id="oneYearPerCity" class="sm-8 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="sevenDaysPerLanguage" class="sm-8 myGCharts"></div>
            <div id="pieOneWeekPerLanguage" class="sm-4 myGCharts"></div>
            <div id="oneYearPerLanguage" class="sm-8 myGCharts"></div>
            <div id="pieOneYearPerLanguage" class="sm-4 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="pieOneWeekPerBrowser" class="sm-4 myGCharts"></div>
            <div id="sevenDaysPerBrowser" class="sm-8 myGCharts"></div>
            <div id="pieOneYearPerBrowser" class="sm-4 myGCharts"></div>
            <div id="oneYearPerBrowser" class="sm-8 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="sevenDaysPerPage" class="sm-8 myGCharts"></div>
            <div id="pieOneWeekPerPage" class="sm-4 myGCharts"></div>
            <div id="oneYearPerPage" class="sm-8 myGCharts"></div>
            <div id="pieOneYearPerPage" class="sm-4 myGCharts"></div>
        </div>
    </section>
    <section class="box">
        <div class="row">
            <div id="sevenDaysPages" class="sm-12 myGCharts"></div>
            <div id="oneYearPages" class="sm-12 myGCharts"></div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    <script type="text/javascript">
        {{ chart(oneYearPerUser) }}
        {{ chart(oneYearPerCountry) }}
        {{ chart(pieOneYearPerCountry) }}
        {{ chart(oneYearPerCity) }}
        {{ chart(pieOneYearPerCity) }}
        {{ chart(oneYearPerLanguage) }}
        {{ chart(pieOneYearPerLanguage) }}
        {{ chart(oneYearPerBrowser) }}
        {{ chart(pieOneYearPerBrowser) }}
        {{ chart(pieOneYearPerPage) }}
        {{ chart(oneYearPerPage) }}
        {{ chart(oneYearPages) }}
        {{ chart(sevenDaysPerUser) }}
        {{ chart(sevenDaysPerCountry) }}
        {{ chart(pieOneWeekPerCountry) }}
        {{ chart(pieOneWeekPerCity) }}
        {{ chart(sevenDaysPerCity) }}
        {{ chart(sevenDaysPerLanguage) }}
        {{ chart(pieOneWeekPerLanguage) }}
        {{ chart(pieOneWeekPerBrowser) }}
        {{ chart(sevenDaysPerBrowser) }}
        {{ chart(sevenDaysPerPage) }}
        {{ chart(pieOneWeekPerPage) }}
        {{ chart(sevenDaysPages) }}
    </script>
{% endblock %}