{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ "Dashboard" | trans }}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block gkratz %}

        <a href="{{ path('gkratz_admin_admin_dashboard_analytic') }}" class="block">
            <section class="box">
                <div class="row">
                    <div class="sm-6">
                        <h1>{{ 'Today visits' | trans }}</h1>
                        {% if counts[6] > counts[5] %}
                            <h2><i class="fa fa-sort-amount-asc"></i> {{ counts[6] | number_format(0, ',', '.') }},- <img class="float-right" src="{{ asset('bundles/gkratzadmin/assets/Polygon-1.png') }}" alt="flèche verte vers le haut" /></h2>
                        {% elseif counts[5] > counts[6] %}
                            <h2><i class="fa fa-sort-amount-desc"></i> {{ counts[6] | number_format(0, ',', '.') }},- <img class="float-right" src="{{ asset('bundles/gkratzadmin/assets/Polygon-1-copy.png') }}" alt="flèche verte vers le bas" /></h2>
                        {% else %}
                            <h2> {{ counts[6] | number_format(2, '.', ',') }},- </h2>
                        {% endif %}
                    </div>
                    <div class="sm-6">
                        <h1>{{ 'Yesterday visits' | trans }}</h1>
                        {% if counts[6] < counts[5] %}
                            <h2><i class="fa fa-sort-amount-asc"></i> {{ counts[5] | number_format(0, ',', '.') }},- <img class="float-right" src="{{ asset('bundles/gkratzadmin/assets/Polygon-1.png') }}" alt="flèche verte vers le haut" /></h2>
                        {% elseif counts[5] < counts[6] %}
                            <h2><i class="fa fa-sort-amount-desc"></i> {{ counts[5] | number_format(0, ',', '.') }},- <img class="float-right" src="{{ asset('bundles/gkratzadmin/assets/Polygon-1-copy.png') }}" alt="flèche verte vers le bas" /></h2>
                        {% else %}
                            <h2> {{ counts[5] | number_format(2, '.', ',') }},- </h2>
                        {% endif %}
                    </div>
                </div>
            </section>
        </a>
        <a href="{{ path('gkratz_admin_admin_dashboard_analytic') }}" class="block">
            <section class="box">
                <div class="row">
                    <div class="sm-12">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </section>
        </a>
        <section class="sm-4 box">
            <div class="row">
                <div class="sm-12">
                    <h3 class="margin-bottom-h3">{{ 'Recent messages' | trans }}<span><a href="#" id="marquerTousLus">{{ 'Mark all as read' | trans }}</a></span></h3>
                    <article class="new">
                        <a href="" class="block">
                            <time class="float-left" datetime="2016-04-20T05:15:58">2016-04-20T05:15:58</time>
                            <p>Hello! C'est cool tout ça!</p>
                        </a>
                    </article>
                    <article>
                        <a href="" class="block">
                            <time class="float-left" datetime="2016-04-20T05:15:58">2016-04-20T05:15:58</time>
                            <p>Hello! C'est cool tout ça!</p>
                        </a>
                    </article>
                    <article>
                        <a href="" class="block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, consequuntur commodi. Qui et provident reprehenderit, modi fugiat unde eum consectetur recusandae laborum doloremque officia eaque illum voluptate sint. Praesentium, asperiores?</p>
                        </a>
                    </article>
                    <article>
                        <a href="" class="block">
                            <time class="float-left" datetime="2016-04-20T05:15:58">2016-04-20T05:15:58</time>
                            <p>Hello! C'est cool tout ça!</p>
                        </a>
                    </article>
                    <article class="new">
                        <a href="" class="block">
                            <time class="float-left" datetime="2016-04-20T05:15:58">2016-04-20T05:15:58</time>
                            <p>Hello! C'est cool tout ça!</p>
                        </a>
                    </article>
                    <article class="new">
                        <a href="" class="block">
                            <time class="float-left" datetime="2016-04-20T05:15:58">2016-04-20T05:15:58</time>
                            <p>Hello! C'est cool tout ça!</p>
                        </a>
                    </article>
                </div>
            </div>
        </section>

{% endblock %}

{% block javascripts %}
    <!-- page de graphiques uniquement -->
    {% include '@GkratzAdmin/admin/__javascript/dashboard-graph.html.twig' %}
    <!-- fin de page de graphiques uniquement -->
{% endblock %}