{% trans_default_domain 'FOSUserBundle' %}

<div class="row-g">
    <div>
        <form action="{{ path("fos_user_registration_register") }}" method="post" class="keyCode">
            <fieldset class="row">
                {{ form_errors(form.email) }}
                <aside class="sm-4">
                    {{ form_label(form.email) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.email, {'attr': {'placeholder': 'form.email', 'autofocus': 'autofocus' }}) }}
                        <span class="add-on">
                            <i class="fa fa-at"></i>
                        </span>
                    </div>
                </section>

                {{ form_errors(form.username) }}
                <aside class="sm-4">
                    {{ form_label(form.username) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.username, {'attr': {'placeholder': 'form.username'}}) }}
                        <span class="add-on">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </section>

                {{ form_errors(form.plainPassword.first) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.first) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.password'}}) }}
                    </div>
                </section>

                {{ form_errors(form.plainPassword.second) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.second) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.password_confirmation'}}) }}
                    </div>
                </section>
            </fieldset>
            {{ form_rest(form) }}
            <div class="row">
                <a class="btn-error float-left half-width" href="{{ path('homepage') }}"><i class="fa fa-remove"></i> {{ 'Cancel' | trans({}, 'messages') }}</a>
                <button type="submit" class="btn-info float-right"><i class="fa fa-check"></i> {{ 'registration.submit' | trans }}</button>
            </div>
        </form>
    </div>
</div>
