{% extends '@GkratzAdmin/admin/layout.html.twig' %}

{% block title %}{{ 'Search results' | trans }}{% endblock %}

{% block gkratz %}

    <section class="box full-screen-zone
    {% if displayMode in ["2", "3"] %}
        activated
    {% endif %}
    ">
        <a href="{{ path('homepage') }}" class="float-right window-action-button filters-toggle-button"><i class="fa fa-chevron-down"></i></a>
        <a class="float-right window-action-button list-display-button disabled"><i class="fa fa-th"></i></a>
        <a class="float-right window-action-button table-display-button disabled"><i class="fa fa-list"></i></a>
        <a href="{{ path('gkratz_admin_admin_search_mode', {classname: 'Search', mode: my_site.nextMode(displayMode)}) }}" class="pointer float-right window-action-button full-screen-button"><i class="fa fa-arrows-alt"></i></a>

        <div class="row">
            <h1>{{ 'Search results' | trans }} - {{ entities.getTotalItemCount }}</h1>

            <a {% if itemsPerPage is not defined or itemsPerPage != 25 %}href="{{ path('gkratz_admin_admin_search_display', {id: app.request.get('id'), allowApproaching: allowApproaching, items : 25}) }}"{% endif %} class="pointer float-right window-action-button seven filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 25 %}disabled{% endif %}"><small>25</small></a>
            <a {% if itemsPerPage is not defined or itemsPerPage != 50 %}href="{{ path('gkratz_admin_admin_search_display', {id: app.request.get('id'), allowApproaching: allowApproaching, items : 50}) }}"{% endif %} class="pointer float-right window-action-button six filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 50 %}disabled{% endif %}"><small>50</small></a>
            <a {% if itemsPerPage is not defined or itemsPerPage != 100 %}href="{{ path('gkratz_admin_admin_search_display', {id: app.request.get('id'), allowApproaching: allowApproaching, items : 100}) }}"{% endif %} class="pointer float-right window-action-button five filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 100 %}disabled{% endif %}"><small>100</small></a>
            <a {% if itemsPerPage is not defined or itemsPerPage != 500 %}href="{{ path('gkratz_admin_admin_search_display', {id: app.request.get('id'), allowApproaching: allowApproaching, items : 500}) }}"{% endif %} class="pointer float-right window-action-button four filter-form slideUp {% if itemsPerPage is defined and itemsPerPage == 500 %}disabled{% endif %}"><small>500</small></a>

            <h2 class="red">{{ entities.0 is defined ? entities.0.searchText | capitalize : '' }}</h2>
            <div class="top-bar">
                {% if approach is defined %}
                    <a href="{{ path('gkratz_admin_admin_search_search', {approaching: 1, search: app.request.get('id')}) }}" class="btn-info inline-block float-right large-search-button"><i class="fa fa-arrows-h"></i> {{ 'Expand search' | trans }}</a>
                {% endif %}
            </div>
            <section class="row">
                {% for entity in entities %}
                    <a href="{{ path('gkratz_admin_admin_' ~ entity.class | lower ~ '_view', {id: entity.elementId}) }}" class="block wow slideInRight" data-wow-delay="{{ loop.index / 10 }}s">
                        <h2>#{{ loop.index }} {{ entity.class | capitalize }} id {{ entity.elementId }}</h2>
                        <div class="searchResult">
                            {{ entity.resultText | searchtext(entity.searchText, allowApproaching) }}
                        </div>
                    </a>
                {% else %}
                    <p class="error">{{ "No entities" | trans }}</p>
                {% endfor %}
            </section>

            <div class="navigation text-center" style="margin-bottom: 15px">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}" type="text/javascript"></script>
{% endblock %}