{% extends '@GkratzAdmin/admin/layout.html.twig' %}

{% block title %}{{ "Menus" | trans }}{% endblock %}

{% block gkratz %}
    <section id="menu" class="box full-screen-zone {{ displayMode in ["2", "3"] ? 'activated' : '' }}">
        <a href="{{ path('gkratz_admin_admin_menu_mode', {classname: 'Menu', mode: my_site.nextMode(displayMode)}) }}" class="pointer float-right window-action-button full-screen-button"><i class="fa fa-arrows-alt"></i></a>
        <div class="row">
            <h1>{{ 'Menus' | trans }}</h1>
            <div class="sm-12 btn-bar text-right">
                <a id="saveMyMenu" class="btn-info inline-block"><i class="fa fa-save"></i> {{ 'Save' | trans }}</a>
                <a href="{{ path('gkratz_admin_admin_menu_newmenu') }}" class="btn-info inline-block"><i class="fa fa-plus"></i> {{ 'Menu' | trans }}</a>
                <a href="{{ path('gkratz_admin_admin_menu_new', {id: 0}) }}" class="btn-info inline-block"><i class="fa fa-plus"></i> {{ 'Item' | trans }}</a>
            </div>
            <form class="row">
                <div class="xm-12 sm-6 sm-offset-6 md-6 md-offset-6 lg-6 lg-offset-6">
                    <div class="row">
                        <select id="selectMenuName" type="text" class="xs-12">
                            {% if not app.request.get('menuName') %}<option value="" selected="selected">{{ 'Menus' | trans }}</option>{% endif %}
                            {% for menuName in menuNames %}
                                <option value="{{ menuName.id }}" {{ app.request.get('menuName') == menuName.id ? 'selected="selected"' }}>{{ menuName.name | capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'All menus items' | trans }} <a data-cible="1" class="collapse-link pointer"><i class="fa fa-chevron-up"></i></a></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content1">
                        <ol id="free_menu" class="sortable">
                            {% for menu in freeMenus %}
                                <li id="{{ menu.name }}_{{ menu.id }}"
                                    data-type="{{ menu.isSection ? 'section' : 'link' }}">
                                    <div>
                                        {% if menu.icon is not null %}<i class="fa {{ menu.icon }}"></i> {% endif %}{{ menu.name }}
                                        <div class="delete btn-group">
                                            {% if menu.isRemovable %}
                                                <a href="{{ path('gkratz_admin_admin_menu_new', { 'id': menu.id }) }}"><i
                                                            class="fa fa-wrench"></i></a>

                                                <a href="{{ path('gkratz_admin_admin_menu_remove', { 'id': menu.id }) }}"
                                                   class="deleteLink"><i class="fa fa-times"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="md-6">
                <div class="x_panel">
                    {% if app.request.get('menuName') %}
                        <div class="x_title">
                            <h2>{{ 'The selected menu' | trans }} <a data-cible="2" class="collapse-link pointer"><i class="fa fa-chevron-up"></i></a></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content2">
                            <ol style="" id="my_menu" class="sortable">
                                {% for menu in  myMenus %}
                                <li id="{{ menu.name }}_{{ menu.id }}"
                                    data-type="{{ menu.isSection ? 'section' : 'link' }}">
                                    <div>
                                        {% if menu.icon is not null %}<i class="fa {{ menu.icon }}"></i> {% endif %}{{ menu.name }}
                                        <div class="delete btn-group">
                                            {% if menu.isRemovable %}
                                                <a href="{{ path('gkratz_admin_admin_menu_new', { 'id': menu.id}) }}"><i
                                                            class="fa fa-wrench"></i></a>

                                                <a href="{{ path('gkratz_admin_admin_menu_remove', { 'id': menu.id }) }}"
                                                   class="deleteLink"><i class="fa fa-times"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% for child in menu.childMenus %}
                                        {% if loop.first %}<ol>{% endif %}
                                    <li id="{{ child.name }}_{{ child.id }}"
                                        data-type="{{ child.isSection ? 'section' : 'link' }}">
                                        <div>
                                            {% if child.icon is not null %}<i class="fa {{ child.icon }}"></i> {% endif %}{{ child.name }}
                                            <div class="delete btn-group">
                                                {% if child.isRemovable %}
                                                    <a href="{{ path('gkratz_admin_admin_menu_new', { 'id': child.id}) }}"><i
                                                                class="fa fa-wrench"></i></a>

                                                    <a href="{{ path('gkratz_admin_admin_menu_remove', { 'id': child.id }) }}"
                                                       class="deleteLink"><i class="fa fa-times"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% for grandChild in child.childMenus %}
                                        {% if loop.first %}<ol>{% endif %}
                                        <li id="{{ grandChild.name }}_{{ grandChild.id }}"
                                            data-type="{{ menu.isSection ? 'section' : 'link' }}">
                                            <div>
                                                {% if grandChild.icon is not null %}<i class="fa {{ grandChild.icon }}"></i> {% endif %}{{ grandChild.name }}
                                                <div class="delete btn-group">
                                                    {% if grandChild.isRemovable %}
                                                        <a href="{{ path('gkratz_admin_admin_menu_new', { 'id': grandChild.id}) }}"><i
                                                                    class="fa fa-wrench"></i></a>

                                                        <a href="{{ path('gkratz_admin_admin_menu_remove', { 'id': grandChild.id }) }}"
                                                           class="deleteLink"><i class="fa fa-times"></i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                        {% if loop.last %}</ol>{% endif %}
                                        {% else %}
                                        </li>
                                    {% endfor %}
                                        {% if loop.last %}</ol>{% endif %}
                                    {% else %}
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gkratzadmin/js/jquery-ui2/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/gkratzadmin/js/jquery.mjs.nestedSortable.js') }}"></script>
    <script src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    <script>
        var $field = $('#selectMenuName');
        $field.change(function() {
            $val = $field.val();
            if($val != ''){
                addWaiter();
                window.location = '{{ path('gkratz_admin_admin_menu_index') }}?menuName='+$val+'';
            }

        });
    </script>
    {% include '@GkratzAdmin/admin/__javascript/wordpress-style-menu.html.twig' %}
{% endblock %}