{% extends '@GkratzAdmin/admin/layout.html.twig' %}

{% block title %}{{ 'Item' | trans }}{% endblock %}

{% block gkratz %}
    <section class="box">
        <div class="row">
            <h1>{{ 'Item' | trans }}</h1>
            <div class="col-xs-12">
                <div class="x_panel">
                    {% set id = entity is defined ? entity.id : 0 %}
                    <form class="row-g" name="sectionMode" method="post" action="{{ path('gkratz_admin_admin_menu_new', {id: id}) }}">
                        <div class="sm-6">
                            <div class="row">
                                <label for="typeMenuItem1" class="xs-6 text-right pointer">{{ 'Page' | trans }}</label>
                                <input type="radio" name="typeMenuItem" value="page" {% if entity is defined %}{{ entity.isSection == false ? 'checked' : '' }}{% else %}checked{% endif %} id="typeMenuItem1" class="xs-3">
                            </div>
                        </div>
                        <div class="sm-6">
                            <div class="row">
                                <label for="typeMenuItem2" class="xs-6 text-right pointer">{{ 'Section' | trans }}</label>
                                <input type="radio" name="typeMenuItem" value="section" {% if entity is defined %}{{ entity.isSection ? 'checked' : '' }}{% endif %}  id="typeMenuItem2" class="xs-3">
                            </div>
                        </div>
                    </form>

                    <div class="x_content_menu {% if entity is defined %}{{ entity.isSection == true ? 'display-none' : '' }}{% endif %}">
                        <form action="{{ path('gkratz_admin_admin_menu_new', {id: id}) }}" method="post" name="menuItem">
                            <fieldset class="row">
                                {{ form_errors(formMenuItem.name) }}
                                <aside class="sm-4">
                                    {{ form_label(formMenuItem.name) }}
                                </aside>
                                {{ form_widget(formMenuItem.name) }}
                                <span class="add-on">
                                    <i class="fa fa-tag"></i>
                                </span>

                                {{ form_errors(formMenuItem.path) }}
                                <aside class="sm-4">
                                    {{ form_label(formMenuItem.path) }}
                                </aside>
                                {{ form_widget(formMenuItem.path) }}
                                <span class="add-on">
                                    <i class="fa fa-internet-explorer"></i>
                                </span>

                                {{ form_errors(formMenuItem.icon) }}
                                <aside class="sm-4">
                                    {{ form_label(formMenuItem.icon) }}
                                </aside>
                                {{ form_widget(formMenuItem.icon) }}
                                <span class="add-on">
                                    <i class="fa fa-question"></i>
                                </span>
                                {{ form_rest(formMenuItem) }}
                            </fieldset>
                            <div class="text-right">
                                <a href="{{ path('gkratz_admin_admin_menu_index') }}" class="btn-error float-left half-width"><i class="fa fa-remove"></i> {{ 'Cancel' | trans }}</a>
                                <button type="submit" class="btn-info float-right half-width"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>
                                <span class="clear-both"></span>
                            </div>
                        </form>
                    </div>
                    <div class="x_content_menu {% if entity is defined %}{{ entity.isSection != true ? 'display-none' : '' }}{% else %}display-none{% endif %}">
                        <form action="{{ path('gkratz_admin_admin_menu_new', {id: id}) }}" method="post" name="menuSection">
                            <fieldset class="row">
                                {{ form_errors(formSection.name) }}
                                <aside class="sm-4">
                                    {{ form_label(formSection.name) }}
                                </aside>
                                {{ form_widget(formSection.name) }}
                                <span class="add-on">
                                    <i class="fa fa-tag"></i>
                                </span>

                                {{ form_errors(formSection.icon) }}
                                <aside class="sm-4">
                                    {{ form_label(formSection.icon) }}
                                </aside>
                                {{ form_widget(formSection.icon) }}
                                <span class="add-on">
                                    <i class="fa fa-question"></i>
                                </span>
                                {{ form_rest(formSection) }}
                            </fieldset>
                            <div class="text-right">
                                <a href="{{ path('gkratz_admin_admin_menu_index') }}" class="btn-error float-left half-width"><i class="fa fa-remove"></i> {{ 'Cancel' | trans }}</a>
                                <button type="submit" class="btn-info float-right half-width"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>
                                <span class="clear-both"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $('input[name="typeMenuItem"]').change(function(){
            $('.x_content_menu').toggleClass('display-none');
        });
    </script>
{% endblock %}