{% extends '@GkratzAdmin/admin/layout.html.twig' %}

{% block title %}{{ 'Menu' | trans }} | {{ 'Add' | trans }}{% endblock %}

{% block gkratz %}
    <section class="box">
        <div class="row">
            <h1>{{ 'Menu' | trans }} - {{ 'Add' | trans }}</h1>
            <div class="col-xs-12">
                <form action="{{ path('gkratz_admin_admin_menu_newmenu') }}" method="post">
                    <fieldset class="row">
                        {{ form_errors(form.name) }}
                        <aside class="sm-4">
                            {{ form_label(form.name) }}
                        </aside>
                        {{ form_widget(form.name) }}
                        <span class="add-on">
                            <i class="fa fa-tag"></i>
                        </span>
                        {{ form_rest(form) }}
                    </fieldset>
                    <div class="text-right">
                        <a href="{{ path('gkratz_admin_admin_menu_index') }}" class="btn-error float-left half-width"><i class="fa fa-remove"></i> {{ 'Cancel' | trans }}</a>
                        <button type="submit" class="btn-info float-right half-width"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>
                        <span class="clear-both"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}