{% trans_default_domain 'FOSUserBundle' %}

<div class="row-g">
    <div>
        <form action="{{ path("fos_user_change_password") }}" method="post" class="keyCode">
            <fieldset class="row">
                {{ form_errors(form.current_password) }}
                <aside class="sm-4">
                    {{ form_label(form.current_password) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.current_password, { 'attr': {'placeholder': 'form.current_password', 'autofocus': 'autofocus'} }) }}
                    </div>
                </section>
            </fieldset>
            <fieldset class="row">
                {{ form_errors(form.plainPassword.first) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.first) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'form.new_password'} }) }}
                    </div>
                </section>

                {{ form_errors(form.plainPassword.second) }}
                <aside class="sm-4">
                    {{ form_label(form.plainPassword.second) }}
                </aside>
                <section class="sm-8">
                    <div class="row">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'form.new_password_confirmation'} }) }}
                    </div>
                </section>
            </fieldset>
            {{ form_rest(form) }}
            <div class="row">
                <a class="btn-error float-left half-width" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-remove"></i> {{ 'Cancel' | trans({}, 'messages') }}</a>
                <button type="submit" class="btn-info float-right"><i class="fa fa-save"></i> {{ 'Save' | trans({}, 'messages') }}</button>
            </div>
        </form>
    </div>
</div>
