{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'Update password' | trans({}, 'messages') }}{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
