{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'Connexion' | trans }}{% endblock %}

{% block fos_user_content %}

    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
