{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>
        <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    </div>
{% endif %}

<div class="row-g">
    <div>


        <form action="{{ path("fos_user_security_check") }}" method="post" class="keyCode">
            <fieldset class="row">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <aside class="sm-4">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                </aside>
                <input autofocus class="sm-8" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>
                <span class="add-on">
                    <i class="fa fa-user"></i>
                </span>

                <aside class="sm-4">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                </aside>
                <input class="sm-8" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>

                <aside class="sm-4">
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </aside>
                <input class="sm-8" type="checkbox" id="remember_me" name="_remember_me" value="on" />

            </fieldset>
            <a href="{{ path('fos_user_resetting_request') }}" class="btn-error float-left half-width"><i class="fa fa-question"></i> {{ 'Forgot password' | trans({}, 'messages') }}</a>
            <button type="submit" class="btn-info float-right"><i class="fa fa-unlock-alt"></i> {{ 'security.login.submit' | trans }}</button>
        </form>
    </div>
</div>
