@charset "UTF-8";
/**
 *    iroom framework
 *    http://iroom.re
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import "https://fonts.googleapis.com/css?family=Raleway";
/* line 9, ../sass/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Remove default margin.
 */
/* line 22, ../sass/_reset.scss */
body {
  margin: 0;
}

/*
*box-sizing
*/
/* line 30, ../sass/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 46, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 67, ../sass/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 80, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 90, ../sass/_reset.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 102, ../sass/_reset.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 111, ../sass/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 123, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 131, ../sass/_reset.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 140, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 149, ../sass/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 167, ../sass/_reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 175, ../sass/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 183, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 187, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 198, ../sass/_reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 206, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 217, ../sass/_reset.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 225, ../sass/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 234, ../sass/_reset.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 242, ../sass/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 265, ../sass/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 279, ../sass/_reset.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 290, ../sass/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 303, ../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 315, ../sass/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 324, ../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 335, ../sass/_reset.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 359, ../sass/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 369, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 380, ../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 389, ../sass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 400, ../sass/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 409, ../sass/_reset.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 418, ../sass/_reset.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 429, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 434, ../sass/_reset.scss */
td,
th {
  padding: 0;
}

/***********************************
********mixins reutilisables********
***********************************/
/********display******************/
/*******listes******************/
/******fix pour le responsive******/
/************clearfix**************/
/*****************************************
**********systeme de grille***************
*********nombre de colonnes **************
*****************************************/
/* line 9, ../sass/_grid.scss */
.row, .row-neg, .row-g {
  display: block;
  width: 100%;
  max-width: 100%;
  font-size: 0;
}

/* line 16, ../sass/_grid.scss */
.row-neg {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 21, ../sass/_grid.scss */
.row, .row-g {
  margin-left: 0;
  margin-right: 0;
}

/* line 26, ../sass/_grid.scss */
.row > *, .row-g > * {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

/* line 32, ../sass/_grid.scss */
.row > * {
  width: 100%;
}

/* line 36, ../sass/_grid.scss */
.row-g > * {
  margin: 0 1.6%;
  width: 96.8%;
}

/* line 41, ../sass/_grid.scss */
.row::after, .row-g::after, .row-neg::after {
  content: '';
  display: block;
  clear: both;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-1 {
  width: 8.33333%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-0 {
  margin-left: 0%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-1, .block-sm-1, .block-md-1, .block-lg-1 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-1 > *, .block-sm-1 > *, .block-md-1 > *, .block-lg-1 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-1 > * {
  width: 100%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-1 {
  width: 5.13333%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-0 {
  margin-left: 1.6%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-2 {
  width: 16.66667%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-2, .block-sm-2, .block-md-2, .block-lg-2 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-2 > *, .block-sm-2 > *, .block-md-2 > *, .block-lg-2 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-2 > * {
  width: 50%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-2 {
  width: 13.46667%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-1 {
  margin-left: 9.93333%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-3 {
  width: 25%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-3, .block-sm-3, .block-md-3, .block-lg-3 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-3 > *, .block-sm-3 > *, .block-md-3 > *, .block-lg-3 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-3 > * {
  width: 33.33333%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-3 {
  width: 21.8%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-2 {
  margin-left: 18.26667%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-4 {
  width: 33.33333%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-3 {
  margin-left: 25%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-4, .block-sm-4, .block-md-4, .block-lg-4 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-4 > *, .block-sm-4 > *, .block-md-4 > *, .block-lg-4 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-4 > * {
  width: 25%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-4 {
  width: 30.13333%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-3 {
  margin-left: 26.6%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-5 {
  width: 41.66667%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-5, .block-sm-5, .block-md-5, .block-lg-5 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-5 > *, .block-sm-5 > *, .block-md-5 > *, .block-lg-5 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-5 > * {
  width: 20%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-5 {
  width: 38.46667%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-4 {
  margin-left: 34.93333%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-6 {
  width: 50%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-6, .block-sm-6, .block-md-6, .block-lg-6 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-6 > *, .block-sm-6 > *, .block-md-6 > *, .block-lg-6 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-6 > * {
  width: 16.66667%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-6 {
  width: 46.8%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-5 {
  margin-left: 43.26667%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-7 {
  width: 58.33333%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-6 {
  margin-left: 50%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-7, .block-sm-7, .block-md-7, .block-lg-7 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-7 > *, .block-sm-7 > *, .block-md-7 > *, .block-lg-7 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-7 > * {
  width: 14.28571%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-7 {
  width: 55.13333%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-6 {
  margin-left: 51.6%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-8 {
  width: 66.66667%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-8, .block-sm-8, .block-md-8, .block-lg-8 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-8 > *, .block-sm-8 > *, .block-md-8 > *, .block-lg-8 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-8 > * {
  width: 12.5%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-8 {
  width: 63.46667%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-7 {
  margin-left: 59.93333%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-9 {
  width: 75%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-9, .block-sm-9, .block-md-9, .block-lg-9 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-9 > *, .block-sm-9 > *, .block-md-9 > *, .block-lg-9 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-9 > * {
  width: 11.11111%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-9 {
  width: 71.8%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-8 {
  margin-left: 68.26667%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-10 {
  width: 83.33333%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-9 {
  margin-left: 75%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-10, .block-sm-10, .block-md-10, .block-lg-10 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-10 > *, .block-sm-10 > *, .block-md-10 > *, .block-lg-10 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-10 > * {
  width: 10%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-10 {
  width: 80.13333%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-9 {
  margin-left: 76.6%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-11 {
  width: 91.66667%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-11, .block-sm-11, .block-md-11, .block-lg-11 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-11 > *, .block-sm-11 > *, .block-md-11 > *, .block-lg-11 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-11 > * {
  width: 9.09091%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-11 {
  width: 88.46667%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-10 {
  margin-left: 84.93333%;
}

/* line 50, ../sass/_grid.scss */
.row > .xs-12 {
  width: 100%;
}

/* line 53, ../sass/_grid.scss */
.row > .xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 56, ../sass/_grid.scss */
.block-xs-12, .block-sm-12, .block-md-12, .block-lg-12 {
  font-size: 0;
}
/* line 58, ../sass/_grid.scss */
.block-xs-12 > *, .block-sm-12 > *, .block-md-12 > *, .block-lg-12 > * {
  font-size: 1rem;
  display: inline-block;
}

/* line 64, ../sass/_grid.scss */
.block-xs-12 > * {
  width: 8.33333%;
}

/* line 68, ../sass/_grid.scss */
.row-g > .xs-12 {
  width: 96.8%;
}

/* line 71, ../sass/_grid.scss */
.row-g > .xs-offset-11 {
  margin-left: 93.26667%;
}

/* line 78, ../sass/_grid.scss */
.xs-push {
  float: right;
}

/* line 81, ../sass/_grid.scss */
.xs-pull {
  float: left;
}

@media (min-width: 768px) {
  /* line 89, ../sass/_grid.scss */
  .row > .sm-1 {
    width: 8.33333%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-0 {
    margin-left: 0%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-1 > * {
    width: 100%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-1 {
    width: 5.13333%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-0 {
    margin-left: 1.6%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-2 {
    width: 16.66667%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-2 > * {
    width: 50%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-2 {
    width: 13.46667%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-1 {
    margin-left: 9.93333%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-3 {
    width: 25%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-3 > * {
    width: 33.33333%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-3 {
    width: 21.8%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-2 {
    margin-left: 18.26667%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-4 {
    width: 33.33333%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-3 {
    margin-left: 25%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-4 > * {
    width: 25%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-4 {
    width: 30.13333%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-3 {
    margin-left: 26.6%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-5 {
    width: 41.66667%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-5 > * {
    width: 20%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-5 {
    width: 38.46667%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-4 {
    margin-left: 34.93333%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-6 {
    width: 50%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-6 > * {
    width: 16.66667%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-6 {
    width: 46.8%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-5 {
    margin-left: 43.26667%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-7 {
    width: 58.33333%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-6 {
    margin-left: 50%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-7 > * {
    width: 14.28571%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-7 {
    width: 55.13333%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-6 {
    margin-left: 51.6%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-8 {
    width: 66.66667%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-8 > * {
    width: 12.5%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-8 {
    width: 63.46667%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-7 {
    margin-left: 59.93333%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-9 {
    width: 75%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-9 > * {
    width: 11.11111%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-9 {
    width: 71.8%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-8 {
    margin-left: 68.26667%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-10 {
    width: 83.33333%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-9 {
    margin-left: 75%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-10 > * {
    width: 10%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-10 {
    width: 80.13333%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-9 {
    margin-left: 76.6%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-11 {
    width: 91.66667%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-11 > * {
    width: 9.09091%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-11 {
    width: 88.46667%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-10 {
    margin-left: 84.93333%;
  }

  /* line 89, ../sass/_grid.scss */
  .row > .sm-12 {
    width: 100%;
  }

  /* line 92, ../sass/_grid.scss */
  .row > .sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 96, ../sass/_grid.scss */
  .block-sm-12 > * {
    width: 8.33333%;
  }

  /* line 100, ../sass/_grid.scss */
  .row-g > .sm-12 {
    width: 96.8%;
  }

  /* line 103, ../sass/_grid.scss */
  .row-g > .sm-offset-11 {
    margin-left: 93.26667%;
  }

  /* line 109, ../sass/_grid.scss */
  .xs-push {
    float: none;
  }

  /* line 112, ../sass/_grid.scss */
  .xs-pull {
    float: none;
  }

  /* line 115, ../sass/_grid.scss */
  .sm-push {
    float: right;
  }

  /* line 118, ../sass/_grid.scss */
  .sm-pull {
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 127, ../sass/_grid.scss */
  .row > .md-1 {
    width: 8.33333%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-0 {
    margin-left: 0%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-1 > * {
    width: 100%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-1 {
    width: 5.13333%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-0 {
    margin-left: 1.6%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-2 {
    width: 16.66667%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-2 > * {
    width: 50%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-2 {
    width: 13.46667%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-1 {
    margin-left: 9.93333%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-3 {
    width: 25%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-3 > * {
    width: 33.33333%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-3 {
    width: 21.8%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-2 {
    margin-left: 18.26667%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-4 {
    width: 33.33333%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-3 {
    margin-left: 25%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-4 > * {
    width: 25%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-4 {
    width: 30.13333%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-3 {
    margin-left: 26.6%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-5 {
    width: 41.66667%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-5 > * {
    width: 20%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-5 {
    width: 38.46667%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-4 {
    margin-left: 34.93333%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-6 {
    width: 50%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-6 > * {
    width: 16.66667%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-6 {
    width: 46.8%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-5 {
    margin-left: 43.26667%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-7 {
    width: 58.33333%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-6 {
    margin-left: 50%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-7 > * {
    width: 14.28571%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-7 {
    width: 55.13333%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-6 {
    margin-left: 51.6%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-8 {
    width: 66.66667%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-8 > * {
    width: 12.5%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-8 {
    width: 63.46667%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-7 {
    margin-left: 59.93333%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-9 {
    width: 75%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-9 > * {
    width: 11.11111%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-9 {
    width: 71.8%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-8 {
    margin-left: 68.26667%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-10 {
    width: 83.33333%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-9 {
    margin-left: 75%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-10 > * {
    width: 10%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-10 {
    width: 80.13333%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-9 {
    margin-left: 76.6%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-11 {
    width: 91.66667%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-11 > * {
    width: 9.09091%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-11 {
    width: 88.46667%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-10 {
    margin-left: 84.93333%;
  }

  /* line 127, ../sass/_grid.scss */
  .row > .md-12 {
    width: 100%;
  }

  /* line 130, ../sass/_grid.scss */
  .row > .md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 134, ../sass/_grid.scss */
  .block-md-12 > * {
    width: 8.33333%;
  }

  /* line 138, ../sass/_grid.scss */
  .row-g > .md-12 {
    width: 96.8%;
  }

  /* line 141, ../sass/_grid.scss */
  .row-g > .md-offset-11 {
    margin-left: 93.26667%;
  }

  /* line 147, ../sass/_grid.scss */
  .sm-push {
    float: none;
  }

  /* line 150, ../sass/_grid.scss */
  .sm-pull {
    float: none;
  }

  /* line 153, ../sass/_grid.scss */
  .md-push {
    float: right;
  }

  /* line 156, ../sass/_grid.scss */
  .md-pull {
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 165, ../sass/_grid.scss */
  .row > .lg-1 {
    width: 8.33333%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-0 {
    margin-left: 0%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-1 > * {
    width: 100%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-1 {
    width: 5.13333%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-0 {
    margin-left: 1.6%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-2 {
    width: 16.66667%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-2 > * {
    width: 50%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-2 {
    width: 13.46667%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-1 {
    margin-left: 9.93333%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-3 {
    width: 25%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-3 > * {
    width: 33.33333%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-3 {
    width: 21.8%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-2 {
    margin-left: 18.26667%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-4 {
    width: 33.33333%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-3 {
    margin-left: 25%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-4 > * {
    width: 25%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-4 {
    width: 30.13333%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-3 {
    margin-left: 26.6%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-5 {
    width: 41.66667%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-5 > * {
    width: 20%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-5 {
    width: 38.46667%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-4 {
    margin-left: 34.93333%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-6 {
    width: 50%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-6 > * {
    width: 16.66667%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-6 {
    width: 46.8%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-5 {
    margin-left: 43.26667%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-7 {
    width: 58.33333%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-6 {
    margin-left: 50%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-7 > * {
    width: 14.28571%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-7 {
    width: 55.13333%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-6 {
    margin-left: 51.6%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-8 {
    width: 66.66667%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-8 > * {
    width: 12.5%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-8 {
    width: 63.46667%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-7 {
    margin-left: 59.93333%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-9 {
    width: 75%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-9 > * {
    width: 11.11111%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-9 {
    width: 71.8%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-8 {
    margin-left: 68.26667%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-10 {
    width: 83.33333%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-9 {
    margin-left: 75%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-10 > * {
    width: 10%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-10 {
    width: 80.13333%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-9 {
    margin-left: 76.6%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-11 {
    width: 91.66667%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-11 > * {
    width: 9.09091%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-11 {
    width: 88.46667%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-10 {
    margin-left: 84.93333%;
  }

  /* line 165, ../sass/_grid.scss */
  .row > .lg-12 {
    width: 100%;
  }

  /* line 168, ../sass/_grid.scss */
  .row > .lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 172, ../sass/_grid.scss */
  .block-lg-12 > * {
    width: 8.33333%;
  }

  /* line 176, ../sass/_grid.scss */
  .row-g > .lg-12 {
    width: 96.8%;
  }

  /* line 179, ../sass/_grid.scss */
  .row-g > .lg-offset-11 {
    margin-left: 93.26667%;
  }

  /* line 185, ../sass/_grid.scss */
  .md-push {
    float: none;
  }

  /* line 188, ../sass/_grid.scss */
  .md-pull {
    float: none;
  }

  /* line 191, ../sass/_grid.scss */
  .lg-push {
    float: right;
  }

  /* line 194, ../sass/_grid.scss */
  .lg-pull {
    float: left;
  }
}
/*****************************************
***********fin de systeme de grille************
*****************************************/
/*****************************************
**********cacher/montrer********************
*****************************************/
/* line 6, ../sass/_hide.scss */
.visible-lg, .visible-md, .visible-sm {
  display: none;
}

/* line 10, ../sass/_hide.scss */
.visible-xs {
  display: inline-block;
}

@media (min-width: 768px) {
  /* line 15, ../sass/_hide.scss */
  .visible-xs {
    display: none;
  }

  /* line 18, ../sass/_hide.scss */
  .visible-sm {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  /* line 24, ../sass/_hide.scss */
  .visible-sm {
    display: none;
  }

  /* line 27, ../sass/_hide.scss */
  .visible-md {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  /* line 33, ../sass/_hide.scss */
  .visible-md {
    display: none;
  }

  /* line 36, ../sass/_hide.scss */
  .visible-lg {
    display: inline-block;
  }
}
/*****************************************
***********fin de systeme de hide/show*******
*****************************************/
/**********************************************
**********etiquettes reutilisables**************
***********************************************/
/**************alignement texte****************/
/* line 5, ../sass/_framework.scss */
.text-center {
  text-align: center;
}

/* line 9, ../sass/_framework.scss */
.text-left {
  text-align: left;
}

/* line 13, ../sass/_framework.scss */
.text-right {
  text-align: right;
}

/* line 17, ../sass/_framework.scss */
.text-justify {
  text-align: justify;
}

/******************display*********************/
/* line 22, ../sass/_framework.scss */
.block {
  display: block;
}

/* line 26, ../sass/_framework.scss */
.inline {
  display: inline !important;
}

/* line 30, ../sass/_framework.scss */
.inline-block {
  display: inline-block;
}

/* line 34, ../sass/_framework.scss */
.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

label, input {
  font-family: 'Raleway', sans-serif;
}

/****************floats*********************/
/* line 38, ../sass/_framework.scss */
.float-right {
  float: right;
}

/* line 42, ../sass/_framework.scss */
.float-left {
  float: left;
}

/* line 46, ../sass/_framework.scss */
.clear-both {
  clear: both;
}

/***********classe pour le responsive**********/
/* line 51, ../sass/_framework.scss */
.full-width {
  max-width: 100%;
}

/********************margin-padding*****************/
/* line 57, ../sass/_framework.scss */
.no-margin {
  margin: 0;
}

/* line 60, ../sass/_framework.scss */
.no-padding {
  padding: 0;
}

/* line 63, ../sass/_framework.scss */
.padding-medium {
  padding: 15px;
}

/*******************listes******************/
/* line 68, ../sass/_framework.scss */
.list-style-none {
  list-style: none;
  padding-left: 0;
}

/* line 72, ../sass/_framework.scss */
.list-inline > li {
  display: inline-block;
}

/* line 76, ../sass/_framework.scss */
.list-glue {
  font-size: 0;
}
/* line 78, ../sass/_framework.scss */
.list-glue > li {
  font-size: 1rem;
  display: inline-block;
}

/*******************formulaires****************/
/* line 85, ../sass/_framework.scss */
.form-inline > * {
  display: inline-block;
}

/* line 89, ../sass/_framework.scss */
.form-glue {
  font-size: 0;
}
/* line 91, ../sass/_framework.scss */
.form-glue > * {
  font-size: 1rem;
  display: inline-block;
}

/******************divers***********************/
/* line 98, ../sass/_framework.scss */
.font-fix {
  font-size: 1rem;
}

/* line 102, ../sass/_framework.scss */
#scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: -45px;
  transition: all .3s ease-in;
  cursor: pointer;
}

/* line 110, ../sass/_framework.scss */
#scroll-to-top:not(.hidden) {
  bottom: 15px;
}

/* line 114, ../sass/_framework.scss */
.pointer {
  cursor: pointer;
}

/* line 118, ../sass/_framework.scss */
.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0;
}

/*debug*/
/* line 126, ../sass/_framework.scss */
.test-div {
  padding: 8px 20px;
  color: #fff;
  border: 1px solid #fff;
  font-family: arial, sans-serif;
  font-weight: bold;
}

/* line 134, ../sass/_framework.scss */
.test-div p {
  font-family: arial, sans-serif !important;
  font-weight: bold;
}

/* line 139, ../sass/_framework.scss */
.test-body {
  background: #4F805D;
}

/* line 143, ../sass/_framework.scss */
.code-to-select::before {
  content: 'sélectionner le code';
  display: block;
  clear: both;
  padding: 6px 12px;
  background-color: #fff;
  color: #C40000;
  cursor: pointer;
  text-shadow: none;
  width: 205px;
  position: relative;
  top: -40px;
  right: 20px;
}

/* line 158, ../sass/_framework.scss */
pre.padding-medium.code-to-select {
  position: relative;
}

/* line 162, ../sass/_framework.scss */
pre.padding-medium.code-to-select::before {
  position: absolute;
  top: 0;
  right: 0;
}

.ezdz-dropzone input[type="file"] {
  height: 100%!important;
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 16, 2016 */
@font-face {
  font-family: 'Lobster';
  src: url("../bundles/gkratzadmin/fonts/Lobster-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/*@font-face {*/
  /*font-family: 'Flipboard JNL';*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*src: url("../bundles/gkratzadmin/fonts/flip.woff2") format("woff2"),*/
  /*url("../bundles/gkratzadmin/fonts/flip.woff") format("woff"),*/
  /*url("../bundles/gkratzadmin/fonts/flip.ttf") format("truetype"),*/
  /*url("../bundles/gkratzadmin/fonts/flip.eot") format("embedded-opentype");*/
/*}*/
@font-face {
  font-family: 'xirwenaregular';
  src: url("../bundles/gkratzadmin/fonts/xirwena1-webfont.woff2") format("woff2"), url("../bundles/gkratzadmin/fonts/xirwena1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'xmas_dadregular';
  src: url("../bundles/gkratzadmin/fonts/xmas_dad-webfont.woff2") format("woff2"), url("../bundles/gkratzadmin/fonts/xmas_dad-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'xmas_lights_brkregular';
  src: url("../bundles/gkratzadmin/fonts/xmaslght-webfont.woff2") format("woff2"), url("../bundles/gkratzadmin/fonts/xmaslght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*boutons*/
/* line 1, ../sass/_menu.scss */
html, body {
  height: 100%;
}

/* line 4, ../sass/_menu.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 8, ../sass/_menu.scss */
.container {
  margin: 0;
}

/* line 11, ../sass/_menu.scss */
header.header {
  position: relative;
  left: 0;
  right: 0;
  line-height: 56px;
  color: #9D9D9D;
  background-color: #222;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #9D9D9D;
}

/* line 23, ../sass/_menu.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 28, ../sass/_menu.scss */
.menu, .menu2, .menu3 {
  float: right;
}
/* line 30, ../sass/_menu.scss */
.menu li, .menu2 li, .menu3 li {
  display: inline-block;
}
/* line 33, ../sass/_menu.scss */
.menu li.active > a, .menu2 li.active > a, .menu3 li.active > a {
  color: #4F805D;
}
/* line 36, ../sass/_menu.scss */
.menu li > a:hover, .menu2 li > a:hover, .menu3 li > a:hover {
  color: #ffe5ff;
}
/* line 39, ../sass/_menu.scss */
.menu li.active > a:hover, .menu2 li.active > a:hover, .menu3 li.active > a:hover {
  color: #3c6046;
}

/* line 43, ../sass/_menu.scss */
.menu a, .menu2 a, .menu3 a, a#logo {
  padding: 0 12px;
  font-size: 1.25em;
  font-weight: bold;
  font-variant: small-caps;
}

/* line 49, ../sass/_menu.scss */
a#logo {
  line-height: 90px;
  font-size: 1.5em;
  color: #4F805D;
  margin: 0 4px;
  padding: 0;
}
/* line 55, ../sass/_menu.scss */
a#logo em {
  color: #4F805D;
  font-style: normal;
}
/* line 59, ../sass/_menu.scss */
a#logo:hover {
  color: #3c6046;
}

/* line 63, ../sass/_menu.scss */
div#mCSB_1_scrollbar_vertical, div#mCSB_2_scrollbar_vertical {
  visibility: hidden;
}

/* line 67, ../sass/_menu.scss */
div#mCSB_1_container, div#mCSB_2_container {
  margin-right: 0 !important;
}

@media (max-width: 991px) {
  /* line 72, ../sass/_menu.scss */
  div#mCSB_1_scrollbar_vertical, div#mCSB_2_scrollbar_vertical {
    visibility: visible !important;
  }

  /* line 75, ../sass/_menu.scss */
  div#mCSB_1_container, div#mCSB_2_container {
    margin-right: 16px;
  }

  /* line 84, ../sass/_menu.scss */
  .site-pusher {
    transition: 0.3s linear;
    transform: translateX(0px);
    width: 100%;
  }

  /* line 91, ../sass/_menu.scss */
  #nav-icon1, #nav-icon2, #nav-icon3 {
    width: 40px;
    height: 30px;
    position: absolute;
    transform: rotate(0deg);
    transition: .3s ease-in;
    cursor: pointer;
    z-index: 200000;
  }

  /* line 101, ../sass/_menu.scss */
  #nav-icon1, #nav-icon2, #nav-icon3 {
    left: 10px;
    top: 10px;
  }

  /* line 106, ../sass/_menu.scss */
  #nav-icon1.active-sidebar {
    left: 17px;
  }

  /* line 110, ../sass/_menu.scss */
  #nav-icon1 span, #nav-icon2 span, #nav-icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #2f2f2f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  /* line 123, ../sass/_menu.scss */
  #nav-icon1:hover span, #nav-icon2:hover span, #nav-icon3:hover span {
    background-color: #000;
  }

  /* line 127, ../sass/_menu.scss */
  #nav-icon1 span:nth-child(1), #nav-icon2 span:nth-child(1), #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  /* line 131, ../sass/_menu.scss */
  #nav-icon1 span:nth-child(2), #nav-icon2 span:nth-child(2), #nav-icon3 span:nth-child(2) {
    top: 13px;
  }

  /* line 135, ../sass/_menu.scss */
  #nav-icon1 span:nth-child(3), #nav-icon2 span:nth-child(3), #nav-icon3 span:nth-child(3) {
    top: 26px;
  }

  /* line 139, ../sass/_menu.scss */
  #nav-icon1.open span:nth-child(1), #nav-icon2.open span:nth-child(1), #nav-icon3.open span:nth-child(1) {
    top: 13px;
    transform: rotate(135deg);
  }

  /* line 144, ../sass/_menu.scss */
  #nav-icon1.open span:nth-child(2), #nav-icon2.open span:nth-child(2), #nav-icon3.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  /* line 149, ../sass/_menu.scss */
  #nav-icon1.open span:nth-child(3), #nav-icon2.open span:nth-child(3), #nav-icon3.open span:nth-child(3) {
    top: 13px;
    transform: rotate(-135deg);
  }

  /* line 154, ../sass/_menu.scss */
  #nav-icon3.open {
    transform: translateY(-200%);
  }

  /* line 157, ../sass/_menu.scss */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #222;
    width: 250px;
    transform: translateX(250px);
  }
  /* line 168, ../sass/_menu.scss */
  .menu ul {
    padding-left: 0;
    margin: 0;
  }
  /* line 171, ../sass/_menu.scss */
  .menu ul li {
    display: block;
  }
  /* line 173, ../sass/_menu.scss */
  .menu ul li a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #9D9D9D;
  }
  /* line 182, ../sass/_menu.scss */
  .menu li > a:hover {
    color: #FFFEFF !important;
  }
  /* line 185, ../sass/_menu.scss */
  .menu li.active > a {
    background-color: #4F805D;
    color: #9D9D9D;
  }
  /* line 189, ../sass/_menu.scss */
  .menu li.active > a:hover {
    color: #fff;
  }

  /* line 193, ../sass/_menu.scss */
  .with--sidebar .site-pusher {
    transform: translateX(-250px);
  }

  /* line 196, ../sass/_menu.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* line 205, ../sass/_menu.scss */
  .menu2 {
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    max-height: 100vh;
    background-color: #222;
    transition: .3s linear;
    z-index: 1;
  }
  /* line 215, ../sass/_menu.scss */
  .menu2 li {
    display: block;
  }

  /* line 220, ../sass/_menu.scss */
  .with--volet .menu2 {
    top: 0;
  }

  /* line 224, ../sass/_menu.scss */
  .menu3 {
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    max-height: 100vh;
    background-color: #222;
    transition: .3s linear;
    z-index: 1;
  }
  /* line 234, ../sass/_menu.scss */
  .menu3 li {
    display: block;
  }

  /* line 238, ../sass/_menu.scss */
  .with--active--volet .site-pusher {
    transform: translateY(100vh);
  }

  /* line 241, ../sass/_menu.scss */
  .with--active--volet .menu3 {
    top: -100vh;
  }

  /* line 244, ../sass/_menu.scss */
  .with--active--volet .site-cache, .with--volet .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 254, ../sass/_menu.scss */
.menu ul > li, .menu2 ul > li, .menu3 ul > li {
  position: relative;
}

/* line 258, ../sass/_menu.scss */
.menu ul > li > ul.sub-menu, .menu2 ul > li > ul.sub-menu, .menu3 ul > li > ul.sub-menu {
  padding: 0 20px;
  z-index: 1000;
}
@media only screen and (min-width: 992px) {
  /* line 258, ../sass/_menu.scss */
  .menu ul > li > ul.sub-menu, .menu2 ul > li > ul.sub-menu, .menu3 ul > li > ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    min-width: 100%;
    display: none;
    background-color: #222;
  }
}
/* line 269, ../sass/_menu.scss */
.menu ul > li > ul.sub-menu li, .menu2 ul > li > ul.sub-menu li, .menu3 ul > li > ul.sub-menu li {
  display: block;
  position: relative;
}
@media only screen and (min-width: 992px) {
  /* line 269, ../sass/_menu.scss */
  .menu ul > li > ul.sub-menu li, .menu2 ul > li > ul.sub-menu li, .menu3 ul > li > ul.sub-menu li {
    border-top: 1px solid #4F805D;
  }
}
@media only screen and (max-width: 991px) {
  /* line 269, ../sass/_menu.scss */
  .menu ul > li > ul.sub-menu li, .menu2 ul > li > ul.sub-menu li, .menu3 ul > li > ul.sub-menu li {
    left: 20px;
    background-color: #000;
  }
}
/* line 280, ../sass/_menu.scss */
.menu ul > li > ul.sub-menu a, .menu2 ul > li > ul.sub-menu a, .menu3 ul > li > ul.sub-menu a {
  color: #fff;
  display: block;
}

/*sous-menu*/
/* line 288, ../sass/_menu.scss */
li:hover > ul.sub-menu {
  display: block !important;
}

/* line 292, ../sass/_menu.scss */
ul.sub-menu ul {
  padding: 0 20px;
}
@media only screen and (min-width: 992px) {
  /* line 292, ../sass/_menu.scss */
  ul.sub-menu ul {
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    background-color: #4F805D;
  }
}
/* line 301, ../sass/_menu.scss */
ul.sub-menu ul li {
  border-bottom: 1px solid #222;
}
@media only screen and (max-width: 991px) {
  /* line 301, ../sass/_menu.scss */
  ul.sub-menu ul li {
    position: relative;
    left: 20px;
    background-color: #4F805D !important;
  }
}

/* line 311, ../sass/_menu.scss */
ul.sub-menu li:hover ul {
  display: block;
}

@media only screen and (max-width: 991px) {
  /* line 330, ../sass/_menu.scss */
  .menu2, .menu3 {
    max-height: 100vh;
    overflow-y: auto;
  }
}
/*pour chargement animation*/
/*ajouter la classe animated au body et une <div class="animation-loading"><div></div></div> en premier enfant du body, et c'est tout!*/
/*pour changement de page animation*/
/*ajouter la classe link-animated au body et une <div class="animation-link"><div></div></div> en dernier enfant du body, et c'est tout!*/
/* line 5, ../sass/_animations.scss */
body.animated {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 11, ../sass/_animations.scss */
body.animated > .animation-loading, body.link-animated > .animation-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: url(../bundles/gkratzadmin/assets/Background.png);
  perspective: 500px;
  perspective-origin: 48% 60%;
  z-index: 100000;
}

/* line 25, ../sass/_animations.scss */
body.link-animated > .animation-link {
  z-index: -1;
}

/* line 29, ../sass/_animations.scss */
body.animated > .site-container {
  display: none;
  height: 0;
  overflow: hidden;
}

/* line 35, ../sass/_animations.scss */
body.animated > .animation-loading div {
  width: 70px;
  height: 70px;
  margin: 40vh auto;
  background: url(../bundles/gkratzadmin/assets/aside-bg.png);
  animation-name: rotating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes rotating {
  33% {
    transform: rotateX(360deg);
  }
  66% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/*boutons anim├®s*/
/*boutons anim├®s*/
/* line 63, ../sass/_animations.scss */
.button-animated {
  display: block;
  width: 120px;
  height: 120px;
  background: #0090C5;
  box-shadow: 0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff, 0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
  border-radius: 50%;
  margin: 20px;
  color: #fff;
  position: relative;
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s linear;
}

/* line 79, ../sass/_animations.scss */
.button-animated:hover {
  background: rgba(170, 77, 27, 0.6);
}

/* line 83, ../sass/_animations.scss */
.button-animated span {
  width: 120px;
  position: absolute;
  top: 30px;
  left: 0;
  text-shadow: 0px 1px 1px #A03F16;
  font-family: "Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
  transition: all 0.3s linear;
}

/* line 93, ../sass/_animations.scss */
.button-animated:before {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  background: url(../bundles/gkratzadmin/assets/bg-button.png) center center no-repeat;
  filter: grayscale(1);
  transition: all .3s linear;
  background-size: 100%;
}

/* line 104, ../sass/_animations.scss */
.button-animated:hover:before {
  animation-name: bouton-animation;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

/* line 111, ../sass/_animations.scss */
.button-animated .initial {
  opacity: 1;
}

/* line 115, ../sass/_animations.scss */
.button-animated .over {
  opacity: 0;
}

/* line 119, ../sass/_animations.scss */
.button-animated:hover .initial {
  opacity: 0;
  transform: scale(0);
}

/* line 124, ../sass/_animations.scss */
.button-animated:hover .over {
  opacity: 1;
}

@keyframes bouton-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}
/************************************slider****************************************************/
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* line 726, ../sass/style.scss */
/* line 8, ../sass/_slider.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 735, ../sass/style.scss */
/* line 19, ../sass/_slider.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 741, ../sass/style.scss */
/* line 27, ../sass/_slider.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 746, ../sass/style.scss */
/* line 34, ../sass/_slider.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 751, ../sass/style.scss */
/* line 41, ../sass/_slider.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 759, ../sass/style.scss */
/* line 50, ../sass/_slider.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 762, ../sass/style.scss */
/* line 55, ../sass/_slider.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 766, ../sass/style.scss */
/* line 61, ../sass/_slider.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 776, ../sass/style.scss */
/* line 71, ../sass/_slider.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 781, ../sass/style.scss */
/* line 77, ../sass/_slider.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/* line 792, ../sass/style.scss */
/* line 88, ../sass/_slider.scss */
.lazyOwl {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

@media (max-width: 550px) {
  /* line 792, ../sass/style.scss */
  /* line 100, ../sass/_slider.scss */
  .lazyOwl {
    height: 250px;
  }
}
/* line 806, ../sass/style.scss */
/* line 106, ../sass/_slider.scss */
.carousel {
  font-size: 0;
  height: 350px;
  overflow: hidden;
}

@media (max-width: 550px) {
  /* line 806, ../sass/style.scss */
  /* line 113, ../sass/_slider.scss */
  .carousel {
    height: 250px;
  }
}
/* line 813, ../sass/style.scss */
/* line 118, ../sass/_slider.scss */
.carousel div.owl-controls {
  position: relative;
  top: -80px;
}

/* line 817, ../sass/style.scss */
/* line 123, ../sass/_slider.scss */
.carousel div.owl-prev {
  width: 30px;
  position: relative;
  top: -110px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 550px) {
  /* line 817, ../sass/style.scss */
  /* line 132, ../sass/_slider.scss */
  .carousel div.owl-prev {
    top: -60px;
  }
}
/* line 827, ../sass/style.scss */
/* line 137, ../sass/_slider.scss */
.carousel div.owl-next {
  float: right;
  width: 40px;
  position: relative;
  top: -145px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 550px) {
  /* line 827, ../sass/style.scss */
  /* line 147, ../sass/_slider.scss */
  .carousel div.owl-next {
    top: -95px;
  }
}
/* line 840, ../sass/style.scss */
/* line 153, ../sass/_slider.scss */
.carousel-articles {
  font-size: 0;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 845, ../sass/style.scss */
/* line 160, ../sass/_slider.scss */
.carousel-articles div.owl-controls {
  position: relative;
  top: -85px;
}

/* line 849, ../sass/style.scss */
/* line 165, ../sass/_slider.scss */
.carousel-articles div.owl-prev {
  width: 30px;
  position: relative;
  top: -35px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 856, ../sass/style.scss */
/* line 173, ../sass/_slider.scss */
.carousel-articles div.owl-next {
  float: right;
  width: 40px;
  position: relative;
  top: -70px;
  left: 5px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 864, ../sass/style.scss */
/* line 182, ../sass/_slider.scss */
.carousel-articles .lazyOwl {
  height: 200px;
}

/* line 869, ../sass/style.scss */
/* line 187, ../sass/_slider.scss */
.carousel-main .lazyOwl {
  height: 450px;
  background-color: #fff;
}

@media (max-width: 550px) {
  /* line 869, ../sass/style.scss */
  /* line 193, ../sass/_slider.scss */
  .carousel-main .lazyOwl {
    height: 250px;
  }
}
/* line 877, ../sass/style.scss */
/* line 199, ../sass/_slider.scss */
.carousel-main .owl-page {
  font-size: 0;
  width: 14.66%;
  display: inline-block;
  height: 142px;
  margin-right: 2.4%;
  margin-top: 20px;
  background-color: #fff;
  background-size: 280% auto;
  background-position: center;
}

@media (max-width: 767px) {
  /* line 877, ../sass/style.scss */
  /* line 212, ../sass/_slider.scss */
  .carousel-main .owl-page {
    display: none;
  }
}
/* line 892, ../sass/style.scss */
/* line 218, ../sass/_slider.scss */
div.owl-page:last-child {
  margin-right: 0;
}

/* line 896, ../sass/style.scss */
/* line 223, ../sass/_slider.scss */
.carousel > *, .carousel-articles > * {
  font-size: 1rem;
}

/* line 900, ../sass/style.scss */
/* line 228, ../sass/_slider.scss */
div.remonterApresSLider {
  clear: both;
}

/**********************************hover images************************************************/
/* line 2, ../sass/_hover.scss */
.image-conteneur {
  position: relative;
  text-align: center;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0;
}

/* line 11, ../sass/_hover.scss */
.image-conteneur img {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  margin: 0 !important;
}

/* line 20, ../sass/_hover.scss */
.image-pardessus {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 0;
}

/* line 29, ../sass/_hover.scss */
.image-pardessus span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../bundles/gkratzadmin/assets/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

/* line 42, ../sass/_hover.scss */
.image-conteneur:hover .image-pardessus span {
  opacity: 1;
}

/* line 46, ../sass/_hover.scss */
.image-conteneur:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 53, ../sass/_hover.scss */
div.fancybox-overlay {
  background-image: url("../bundles/gkratzadmin/assets/overlay.png");
}

/*hover animation*/
/* line 58, ../sass/_hover.scss */
.image-animation {
  border: 1px solid #000;
  background-color: #000;
  position: relative;
  font-size: 0;
}

/* line 65, ../sass/_hover.scss */
.image-animation img {
  width: 100%;
  background-color: #fff;
  transition: all .3s ease-in;
}

/* line 71, ../sass/_hover.scss */
.image-animation:hover img {
  transform: translateY(-35px) scale(0.5);
}

/* line 75, ../sass/_hover.scss */
.image-animation figcaption {
  font-size: 1rem;
  color: #fff;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  transition: all .3s ease-in;
}

/* line 87, ../sass/_hover.scss */
.image-animation:hover figcaption {
  z-index: 0;
}

/* line 1, ../sass/_full-height.scss */
.site-container.full .site-content {
  padding-top: 0;
}

/* line 5, ../sass/_full-height.scss */
.site-container.full .row > *, .site-container.full .row-g > * {
  height: 100vh;
  overflow-y: hidden;
  background-color: #9D9D9D;
  background: url(http://wp-tocc.iroom.re/wp-content/uploads/2016/05/15216805665_c86835abd5_o-251x300.jpg);
  background-size: cover;
  background-position: center;
}

/* line 14, ../sass/_full-height.scss */
.site-container.full .main-footer {
  padding: 25px;
  background-color: #222;
  width: 100%;
  transition: .3s linear;
  z-index: 1000;
}
@media only screen and (min-width: 992px) {
  /* line 14, ../sass/_full-height.scss */
  .site-container.full .main-footer {
    position: fixed;
    right: 0;
    left: 0;
  }
  /* line 24, ../sass/_full-height.scss */
  .site-container.full .main-footer:before {
    content: "^";
    width: 5%;
    height: 35px;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: -35px;
    background-color: #4F805D;
    right: 47.5%;
    cursor: pointer !important;
    font-weight: 900;
    font-size: 25px;
    color: white;
  }
  /* line 39, ../sass/_full-height.scss */
  .site-container.full .main-footer:hover:before {
    background-color: #444;
    color: #AAAAAA;
  }
}

/* line 46, ../sass/_full-height.scss */
.site-container.full .main-footer.active {
  bottom: 0;
  transition: .3s linear;
}
/* line 49, ../sass/_full-height.scss */
.site-container.full .main-footer.active:before {
  content: "X";
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}

/* line 57, ../sass/_full-height.scss */
.full .header {
  z-index: 1;
}

/* line 61, ../sass/_full-height.scss */
.full .site-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

/*******************general*********************************/
/*definir en premiers les btn, input, titres, p, conteneurs*/
/* line 19, ../sass/iroom.scss */
body, html {
  max-width: 100%;
  font-family: Arial, sans-serif;
}

/* line 24, ../sass/iroom.scss */
html {
  max-width: 100%;
  overflow-x: hidden;
}

/* line 29, ../sass/iroom.scss */
body {
  background-color: #9D9D9D;
  font-family: "Lobster";
}

/* line 34, ../sass/iroom.scss */
p, a:not(#logo), button, input[type="submit"] {
  font-family: arial, sans-serif;
  font-weight: bold;
}

/* line 39, ../sass/iroom.scss */
.main-footer {
  background-color: #222;
  color: #FFFEFF;
  padding: 20px;
}
/* line 43, ../sass/iroom.scss */
.main-footer:before {
  font-family: Arial, sans-serif;
}

/* line 48, ../sass/iroom.scss */
.copy {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
}

/*boutons*/
/* line 55, ../sass/iroom.scss */
.btn-primary, .btn-info, .btn-error, .btn-success, .btn-warning {
  padding: 12px 16px;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-variant: small-caps;
  background-color: transparent;
  line-height: 36px;
}

/* line 66, ../sass/iroom.scss */
.btn-primary {
  border: 1px solid #fff;
  color: #fff;
}

/* line 71, ../sass/iroom.scss */
.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

/* line 76, ../sass/iroom.scss */
.btn-info {
  border: 1px solid #0090C5;
  color: #0090C5;
}

/* line 81, ../sass/iroom.scss */
.btn-info:hover {
  background-color: #0090C5;
  color: #fff;
}

/* line 86, ../sass/iroom.scss */
.btn-success {
  border: 1px solid lime;
  color: lime;
}

/* line 91, ../sass/iroom.scss */
.btn-success:hover {
  background-color: lime;
  color: #fff;
}

/* line 96, ../sass/iroom.scss */
.btn-warning {
  border: 1px solid #EDAB4D;
  color: #EDAB4D;
}

/* line 101, ../sass/iroom.scss */
.btn-warning:hover {
  background-color: #EDAB4D;
  color: #fff;
}

/* line 106, ../sass/iroom.scss */
.btn-error {
  border: 1px solid #C72828;
  color: #C72828;
}

/* line 111, ../sass/iroom.scss */
.btn-error:hover {
  background-color: #C72828;
  color: #fff;
}

/*formulaires*/
/* line 118, ../sass/iroom.scss */
input {
  vertical-align: top;
}

/* line 122, ../sass/iroom.scss */
form {
  margin-bottom: 15px;
}

/*customisation*/
/*boxes principales*/
/* line 128, ../sass/iroom.scss */
.site-container {
  background: url(../bundles/gkratzadmin/assets/Background.png);
  font-family: Raleway;
  color: #2f2f2f;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 35px;
}

/* line 137, ../sass/iroom.scss */
.main-main {
  width: 100%;
  padding-left: 80px;
}
@media only screen and (max-width: 991px) {
  /* line 137, ../sass/iroom.scss */
  .main-main {
    padding-left: 0;
  }
}

/* line 145, ../sass/iroom.scss */
.main-aside {
  width: 80px;
  min-height: 100vh;
  text-align: center;
  background: #2f2f2f;
  position: fixed;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.2);
  transition: all .3s ease-in;
  z-index: 1;
}
@media only screen and (max-height: 672px) {
  /* line 145, ../sass/iroom.scss */
  .main-aside {
    position: absolute;
  }
}
@media only screen and (max-width: 991px) {
  /* line 145, ../sass/iroom.scss */
  .main-aside {
    position: absolute;
    left: -80px;
  }
}

/* line 165, ../sass/iroom.scss */
.main-aside.active-sidebar {
  left: 0;
}

/* line 169, ../sass/iroom.scss */
.main-header {
  background: #ffffff;
  padding: 10px;
}
/* line 172, ../sass/iroom.scss */
.main-header h1 {
  margin: 0;
  font: 400 24px Raleway;
  color: #8b8a8a;
}
/* line 176, ../sass/iroom.scss */
.main-header h1 span {
  color: #2f2f2f;
}

/* line 182, ../sass/iroom.scss */
.main-header:before {
  content: '';
  top: 0px;
  left: 5%;
  width: 90%;
  height: 50px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #555;
}

/* line 191, ../sass/iroom.scss */
.main-header:after {
  content: '';
  bottom: 0px;
  left: 5%;
  width: 90%;
  height: 50px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #565656;
}

/*header*/
/* line 202, ../sass/iroom.scss */
.main-header img {
  height: 34px;
}
@media only screen and (max-width: 991px) {
  /* line 202, ../sass/iroom.scss */
  .main-header img {
    position: relative;
    left: 40px;
  }
}

/* line 210, ../sass/iroom.scss */
.main-header h1 {
  vertical-align: top;
  margin: 4px 0 0 20px;
}

/* line 215, ../sass/iroom.scss */
.topmenu li a {
  font-size: 15px;
  display: block;
  margin: 0 8px;
}

/* line 221, ../sass/iroom.scss */
.badge {
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 6px;
  background-color: #ed1c24;
  color: #fff;
  position: relative;
  top: -8px;
  left: -8px;
}

/*aside*/
/* line 233, ../sass/iroom.scss */
.profile {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 0 15px 0;
}
@media only screen and (max-width: 991px) {
  /* line 233, ../sass/iroom.scss */
  .profile {
    padding: 50px 0 15px 0;
  }
}

/* line 241, ../sass/iroom.scss */
.profile div {
  background-size: cover;
  height: 50px;
  width: 50px;
  border: 1px solid #e2b329;
  border-radius: 50%;
  margin: 0 15px;
}

/* line 250, ../sass/iroom.scss */
.logout {
  background-color: #2f2f2f;
  padding: 11px 0;
  width: 100%;
  font: 400 12px Raleway;
}

/* line 257, ../sass/iroom.scss */
.aside-menu {
  border-top: 15px solid rgba(255, 255, 255, 0.2);
}

/* line 261, ../sass/iroom.scss */
.aside-menu a {
  background-color: #2f2f2f;
  padding: 13px 0;
  display: block;
  width: 100%;
  font-size: 12px;
}

/* line 270, ../sass/iroom.scss */
.main-aside li:after {
  content: '';
  display: block;
  border-bottom: 4px solid #2f2f2f;
  width: 0%;
  position: relative;
  left: 50%;
  transition: all .3s ease-in;
}

/* line 281, ../sass/iroom.scss */
.main-aside ul:hover li.active {
  background: none;
}
/* line 283, ../sass/iroom.scss */
.main-aside ul:hover li.active a, .main-aside ul:hover li.active i {
  color: #EDEDED !important;
}

/* line 288, ../sass/iroom.scss */
.main-aside li.active, .main-aside li:hover, .main-aside li.active:hover {
  background-color: #EDEDED;
}
/* line 290, ../sass/iroom.scss */
.main-aside li.active a, .main-aside li.active i, .main-aside li:hover a, .main-aside li:hover i, .main-aside li.active:hover a, .main-aside li.active:hover i {
  background: none;
  color: #2f2f2f !important;
}

/* line 296, ../sass/iroom.scss */
.main-aside a:hover {
  color: #fff;
}

/*main*/
/* line 309, ../sass/iroom.scss */
.box {
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 20px 20px 0 0 #e1e1e1;
  position: relative;
  padding: 15px 0;
}
/* line 315, ../sass/iroom.scss */
.box > .row > * {
  padding: 0 20px;
}
/* line 318, ../sass/iroom.scss */
.box h1 {
  font: 400 15px Raleway;
  color: #8b8a8a;
  text-transform: capitalize;
  margin-top: 0;
}
/* line 324, ../sass/iroom.scss */
.box h2 {
  font: 600 24px Raleway;
}
/* line 327, ../sass/iroom.scss */
.box h3 {
  font: 600 13px Raleway;
}
/* line 329, ../sass/iroom.scss */
.box h3 span {
  float: right;
  font: 600 10px Raleway;
  color: #787777;
  margin-top: 4px;
}
/* line 336, ../sass/iroom.scss */
.box p.time, .box time {
  font: 600 10px Raleway;
  color: #cecccc;
  padding-bottom: 15px;
}
/* line 341, ../sass/iroom.scss */
.box article a {
  padding: 10px;
}
/* line 344, ../sass/iroom.scss */
.box article {
  transition: all .3s ease-in;
}
/* line 347, ../sass/iroom.scss */
.box article.new, .box article:hover {
  background-color: #ebebeb;
}
/* line 350, ../sass/iroom.scss */
.box article time.float-left {
  margin: 11px 15px 0 0;
  color: #787777;
  padding-bottom: 8px;
}
/* line 355, ../sass/iroom.scss */
.box article p {
  font: 400 10px Raleway;
  line-height: 14px;
  color: #787777;
}
/* line 360, ../sass/iroom.scss */
.box article p::after {
  content: '';
  display: block;
  clear: both;
}
/* line 365, ../sass/iroom.scss */
.box .margin-bottom-h3 {
  margin-bottom: 25px;
}

/* line 370, ../sass/iroom.scss */
.box::before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  display: block;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #e1e1e1 transparent transparent;
}

/* line 383, ../sass/iroom.scss */
.box::after {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 100%;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #e1e1e1;
}

/* line 396, ../sass/iroom.scss */
.help a {
  color: #787777;
  font: 600 10px Raleway;
  display: block;
  width: 100%;
  transition: all .3s ease-in;
  padding: 13px 0;
}

/* line 405, ../sass/iroom.scss */
.help a span {
  position: relative;
  top: -4px;
}

/* line 410, ../sass/iroom.scss */
.help a:hover {
  background-color: #ebebeb;
}

/* line 414, ../sass/iroom.scss */
.help h3 {
  border-bottom: 1px solid rgba(225, 225, 225, 0.18);
  padding-bottom: 13px;
}

/*figures*/
/* line 420, ../sass/iroom.scss */
.miniatures {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgba(225, 225, 225, 0.18);
  margin-top: 15px;
}
/* line 425, ../sass/iroom.scss */
.miniatures img {
  width: 40px;
  float: left;
  margin: 0 20px 15px 0;
}
/* line 430, ../sass/iroom.scss */
.miniatures figcaption {
  font: 400 10px Raleway;
  line-height: 14px;
}

/* line 436, ../sass/iroom.scss */
.miniatures:first-child {
  border-top: none !important;
  margin-top: 0 !important;
}

/* line 441, ../sass/iroom.scss */
.miniatures::after {
  content: '';
  display: block;
  clear: both;
}

/*formulaires*/
/* line 448, ../sass/iroom.scss */
fieldset {
  border: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.18);
  padding: 0 0 14px 0;
  margin-bottom: 28px;
}

/* line 455, ../sass/iroom.scss */
label {
  font-size: 14px !important;
  margin-top: 24px;
  font-weight: 300;
}

form aside {
  padding-top: 24px;
}

/* line 461, ../sass/iroom.scss */
button[type="submit"] {
  vertical-align: middle;
  font-size: 17px;
}

/* line 468, ../sass/iroom.scss */
#search {
  height: 24px;
  margin: 0;
}

/* line 473, ../sass/iroom.scss */
input, textarea, select {
  font-size: 14px !important;
  line-height: 14px;
  color: #8b8a8a;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-radius: 5px;
}

/* line 483, ../sass/iroom.scss */
form:not(#search) input, select {
  padding: 10px 20px;
  margin-top: 14px;
  height: 40px;
}

/* line 489, ../sass/iroom.scss */
form:not(#search) textarea {
  padding: 10px 20px !important;
  margin-top: 14px;
  height: 319px;
  line-height: 27px;
}

/* line 496, ../sass/iroom.scss */
form:not(#search):not(.keyCode) a:not(.cke_button), form:not(#search) button, a.half-width, button.half-width {
  width: 50%;
  text-align: center;
}

.half-width {
  width: 50%;
}

/* line 501, ../sass/iroom.scss */
#search input {
  border-top: 1px solid #e1e1e1;
  border-right: none;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: width .3s ease-in;
  height: 34px !important;
  padding: 0px 10px;
}

/* line 515, ../sass/iroom.scss */
#searchButton {
  font-size: 14px !important;
  line-height: 14px;
  padding-left: 10px;
  padding-right: 10px;
  height: 36px !important;
  color: #8b8a8a;
  background-color: #f8f8f8;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 531, ../sass/iroom.scss */
input:focus {
  border: 1px solid #e2b329;
}

/* line 535, ../sass/iroom.scss */
#search input:focus {
  border-top: 1px solid #e2b329;
  border-bottom: 1px solid #e2b329;
  border-left: 1px solid #e2b329;
}

/* line 541, ../sass/iroom.scss */
#search input:focus ~ #searchButton {
  border-top: 1px solid #e2b329;
  border-bottom: 1px solid #e2b329;
  border-right: 1px solid #e2b329;
}

/* line 547, ../sass/iroom.scss */
input[type="password"] {
  position: relative;
}

/* line 551, ../sass/iroom.scss */
span.addon, span.add-on {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  margin-left: -40px;
  margin-top: 14px;
  border-radius: 5px;
  color: #000;
  text-align: center;
}
span.addon {
  cursor: pointer;
}
/* line 562, ../sass/iroom.scss */
span.addon i, span.add-on i {
  margin: 8px auto;
  font-size: 20px;
}

/* line 568, ../sass/iroom.scss */
.picker__select--year {
  padding: 0 !important;
}

/* line 572, ../sass/iroom.scss */
input.datepicker {
  cursor: pointer;
}

/*tableaux*/
/* line 577, ../sass/iroom.scss */
table {
  width: 100%;
  max-width: 100%;
  border-top: 1px solid rgba(225, 225, 225, 0.18);
}
/* line 581, ../sass/iroom.scss */
table p.time, table time {
  padding-bottom: 0 !important;
  margin: 0;
}

/* line 587, ../sass/iroom.scss */
.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

/* line 592, ../sass/iroom.scss */
th {
  font: 600 13px Raleway;
  text-transform: capitalize;
  padding: 13px 0;
  min-width: 110px;
}

/* line 598, ../sass/iroom.scss */
td {
  font: 400 10px Raleway;
  line-height: 14px;
  padding: 13px 6px;
  vertical-align: top;
}

/* line 605, ../sass/iroom.scss */
td.actions a {
  margin: 10px 0;
  font-size: 13px;
}

/* line 610, ../sass/iroom.scss */
td.actions i.fa-remove {
  color: #ed1c24;
}

/* line 614, ../sass/iroom.scss */
tr:nth-child(even) {
  background-color: #ebebeb;
}

/*boutons*/
/* line 619, ../sass/iroom.scss */
.btn-success {
  font: 600 13px Raleway;
  border: 1px solid #36B649;
  color: #36B649;
  text-shadow: none;
  padding: 6px 10px;
}

/* line 627, ../sass/iroom.scss */
.btn-success:hover {
  background-color: #36B649;
  color: #fff;
}

/*responsive*/
@media only screen and (max-width: 600px) {
  /* line 636, ../sass/iroom.scss */
  #search input {
    width: 65px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 642, ../sass/iroom.scss */
  #search {
    display: none;
  }
}


.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #0090C5; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.margin-top-25 {
  margin-top: 25px;
}

input[type=submit].btn-info {
  padding: 0!important;
}

p.error {
  background-color: #c72828;
  font-style: italic;
  color: #fff;
  padding: 6px 12px;
}

input.error {
  border: 1px solid #c72828;
}

.margin-top-100 {
  margin-top: 100px;
}

.profileBig {
  height: 150px!important;
  width: 150px!important;
  background-color: #fff;
}

.profileSmall {
  background-color: #fff;
}

label.required::after {
  content: '*';
  clear: both;
  color: red;
  font-size: 18px;
}

.ezdz-dropzone {
  margin-top: 20px;
  width: 100% !important;
}

.btn-bar a {
  margin-bottom: 5px;
}

.picker__holder {
  position: absolute!important;
  right: 100%!important;
  top: 53px!important;
}

.redborder {
  border: 2px solid red;
}




/*LIST ELEMENTS*/
.databaseItem {
  margin: 12px 12px 20px;
  cursor: pointer;
}

.databaseItem div {
  width: 150px;
  height: 150px;
  margin: 0 0 8px;
  float: left;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  background-color: #ffe;
  color: #3c3c3c;
  text-align: center;
}

.databaseItem p {
  color: #3c3c3c;
  margin: 0;
  padding: 0 0 8px;
  font: 600 15px Raleway;
}

.databaseItem.selected {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.databaseItem.selected div {
  box-shadow: none;
}

.databaseItem.selected div, .databaseItem.selected p {
  background-color: #0090c5;
  color: #fff;
}

.databaseItem.softdeleted {
  opacity: 0.1!important;
}

.databaseItem i {
  margin-top: 35px;
}

li.draggable-database-item.selected {
  cursor: move;
  z-index: 1;
}

.ui-draggable-dragging {
  z-index: 1;
}

/*BUTTONS*/
a.disabled {
  opacity: 0.1;
  cursor: default!important;
}

.window-action-button {
  background-color: #EDEDED;
  padding: 8px 16px;
  width: 45px;
  height: 36px;
  position: absolute;
  top: 0;
}

.window-action-button:hover {
  background-color: #E1E1E1;
}

.full-screen-button {
  right: 0;
}

.table-display-button {
  right: 45px;
}

.list-display-button {
  right: 90px;
}

.full-screen-zone.activated {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 300000;
  margin-top: 0;
}

.full-screen-zone.activated::before, .full-screen-zone.activated::after {
  display: none;
}

html.full-screen-mode, html.full-screen-mode body {
  overflow: hidden!important;
}

/*pagination*/
.pagination.list-glue li {
  background-color: #ededed;
  width: 45px;
}
.pagination.list-glue a, .pagination.list-glue span {
  padding: 8px 16px;
  display: block;
}
.pagination.list-glue li:not(.disabled):not(.active):hover {
  background-color: #E1E1E1;
}
.pagination.list-glue li.active, .pagination.list-glue li.disabled {
  opacity: 0.4;
}

div.navigation {
  margin-top: 25px;
}

.box table {
  border-top: none;
}

tr.databaseItem.selected {
  background-color: #0090c5;
  color: #fff;
}

li.databaseItem {
  width: 150px;
}

.window-action-button.un {
  right: 0;
}

.window-action-button.deux {
  right: 45px;
}

.window-action-button.un {
  right: 90px;
}

.filter-form {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.filter-form.slideUp {
  height: 0;
  overflow: hidden;
}

.filters-toggle-button {
  right: 135px;
}

.four, .five, .six, .seven {
  top: 36px;
  text-align: center;
  overflow: hidden;
}

.four:not(.slideUp), .five:not(.slideUp), .six:not(.slideUp), .seven:not(.slideUp) {
  padding: 8px 0!important;
}

form.filter-form:not(.slideUp) {
  padding-top: 10px;
}

form.filter-form.slideUp {
  margin: 0!important;
}

.four {
  right: 0px;
}

.five {
  right: 45px;
}

.six {
  right: 90px;
}

.seven {
  right: 135px;
}

.row > .select2-container {
  line-height: 14px;
  min-height: 40px!important;
  color: #8b8a8a;
  background-color: #f8f8f8;
  width: 100%;
  margin-top: 14px;
  width: 100%!important;
  border: 1px solid #e1e1e1!important;
  border-left: 1px solid #e1e1e1!important;
  border-radius: 5px;
  font: 400 14px Raleway!important;
}

.row > .select2-container span.select2-selection {
  line-height: 40px!important;
  min-height: 40px!important;
  border: 1px solid #e1e1e1!important;
  border-left: 1px solid #e1e1e1!important;
  border-radius: 5px;
  font: 400 14px Raleway!important;
  background-color: #f8f8f8!important;
  color: #8b8a8a!important;
  padding: 5px 10px;
}

body {
  font-family: Raleway;
}

.select2-container--open {
  z-index: 500000;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-error, .btn-danger {
  cursor: pointer;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-error, .btn-danger {
  border: none;
  padding: 12px 18px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #aaa;
  background: #fff;
  font: bold 13px Arial;
  color: #555;
}

.btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover, .btn-error:hover, .btn-danger:hover {
  box-shadow: 2px 2px 6px #999;
}

.btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-error:active, .btn-danger:active {
  box-shadow: 3px 3px 12px #999;
}

a.float-left, button.float-left {
  font-size: 17px;
}

.btn-primary:not(#scroll-to-top) i, .btn-success i, .btn-info i, .btn-warning i, .btn-error i, .btn-danger i {
  margin-right: 10px;
}

/*waiting effect*/
.sk-cube-grid {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  margin: 0;
  z-index: 400000;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background: url(../bundles/gkratzadmin/assets/aside-bg.png);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@-moz-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -moz-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -moz-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@-ms-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -ms-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -ms-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@-o-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -o-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -o-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}



/**********************************timed notifs************************************************/
/* line 1131, ../sass/style.scss */

.tn-box {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 330px;
  z-index: 400000;
  padding: 25px 15px;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: default;
  display: none;
}
/* line 1143, ../sass/style.scss */
.tn-box p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0 10px 0 60px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}
/* line 1150, ../sass/style.scss */
.tn-box p:before {
  text-align: center;
  border: 3px solid white;
  margin-top: -17px;
  top: 50%;
  left: 20px;
  width: 30px;
  content: 'i';
  font-size: 30px;
  color: white;
  position: absolute;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 1169, ../sass/style.scss */
.tn-progress {
  width: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 5px;
  left: 2%;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(255, 255, 255, 0.6);
}

/* Colors */
/* line 1184, ../sass/style.scss */
.tn-box-color-1 {
  background: #ffe691;
  border: 1px solid #f6db7b;
}
/* line 1187, ../sass/style.scss */
.tn-box-color-1 p {
  color: #fff;
}

/* line 1192, ../sass/style.scss */
.tn-box-color-2 {
  background: lime;
  border: 1px solid #7ce294;
}
/* line 1195, ../sass/style.scss */
.tn-box-color-2 p {
  color: #fff;
}

/* line 1200, ../sass/style.scss */
.tn-box-color-3 {
  background: #c72828;
  border: 1px solid #E1574C;
}
/* line 1203, ../sass/style.scss */
.tn-box-color-3 p {
  color: #fff;
}

/* Fire the animations */
/* line 1210, ../sass/style.scss */
input.fire-check:checked ~ section .tn-box {
  display: block;
  -webkit-animation: myFadeOut 5s linear forwards;
  -moz-animation: myFadeOut 5s linear forwards;
  -o-animation: myFadeOut 5s linear forwards;
  -ms-animation: myFadeOut 5s linear forwards;
  animation: myFadeOut 5s linear forwards;
}

/* line 1219, ../sass/style.scss */
input.fire-check:checked ~ section .tn-box .tn-progress {
  -webkit-animation: runProgress 4s linear forwards 0.5s;
  -moz-animation: runProgress 4s linear forwards 0.5s;
  -o-animation: runProgress 4s linear forwards 0.5s;
  -ms-animation: runProgress 4s linear forwards 0.5s;
  animation: runProgress 4s linear forwards 0.5s;
}

/* If you use JavaScript you could add a class instead: */
/* line 1229, ../sass/style.scss */
.tn-box.tn-box-active {
  display: block;
  -webkit-animation: myFadeOut 5s linear forwards;
  -moz-animation: myFadeOut 5s linear forwards;
  -o-animation: myFadeOut 5s linear forwards;
  -ms-animation: myFadeOut 5s linear forwards;
  animation: myFadeOut 5s linear forwards;
}

/* line 1238, ../sass/style.scss */
.tn-box.tn-box-active .tn-progress {
  -webkit-animation: runProgress 4s linear forwards 0.5s;
  -moz-animation: runProgress 4s linear forwards 0.5s;
  -o-animation: runProgress 4s linear forwards 0.5s;
  -ms-animation: runProgress 4s linear forwards 0.5s;
  animation: runProgress 4s linear forwards 0.5s;
}

@-webkit-keyframes myFadeOut {
  0% {
    opacity: 0;
    padding: 25px 15px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    width: 330px;
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    display: block;
    visibility: visible;
    width: 0;
    padding: 25px 15px;
    border-width: 1px;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    padding: 0;
    border-width: 0;
  }
}
@-moz-keyframes myFadeOut {
  0% {
    opacity: 0;
    padding: 25px 15px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  99% {
    opacity: 0;
    -moz-transform: translateY(-30px);
    display: block;
    visibility: visible;
    width: 330px;
    padding: 25px 15px;
    border-width: 1px;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    width: 0;
    padding: 0;
    border-width: 0;
  }
}
@-o-keyframes myFadeOut {
  0% {
    opacity: 0;
    padding: 25px 15px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  99% {
    opacity: 0;
    -o-transform: translateY(-30px);
    display: block;
    visibility: visible;
    width: 330px;
    padding: 25px 15px;
    border-width: 1px;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    width: 0;
    padding: 0;
    border-width: 0;
  }
}
@-ms-keyframes myFadeOut {
  0% {
    opacity: 0;
    padding: 25px 15px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  99% {
    opacity: 0;
    -ms-transform: translateY(-30px);
    display: block;
    visibility: visible;
    width: 330px;
    padding: 25px 15px;
    border-width: 1px;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    width: 0;
    padding: 0;
    border-width: 0;
  }
}
@keyframes myFadeOut {
  0% {
    opacity: 0;
    padding: 25px 15px;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(-30px);
    display: block;
    visibility: visible;
    width: 330px;
    padding: 25px 15px;
    border-width: 1px;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    width: 0;
    padding: 0;
    border-width: 0;
  }
}
@-webkit-keyframes runProgress {
  0% {
    width: 0%;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 96%;
    background: white;
  }
}
@-moz-keyframes runProgress {
  0% {
    width: 0%;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 96%;
    background: white;
  }
}
@-o-keyframes runProgress {
  0% {
    width: 0%;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 96%;
    background: white;
  }
}
@-ms-keyframes runProgress {
  0% {
    width: 0%;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 96%;
    background: white;
  }
}
@keyframes runProgress {
  0% {
    width: 0%;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 96%;
    background: white;
  }
}
/* line 1312, ../sass/style.scss */
.tn-box:hover,
.tn-box:hover .tn-progress {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

/*nested sortable menus*/
.x_content1, .x_content2 {
  border: 1px solid #E1E1E1;
}

ol.sortable {
  min-height: 100px;
  background: #E1E1E1;
  color: #000000;
  font-size: larger;
  text-align: center;
  margin: 0;
}

ol.sortable {
  padding: 0px;
}

.sortable li {
  margin: 0;
}

.sortable, .sortable ol {
  list-style-type: none;
}

.sortable > li ol {
  padding-left: 10px;
}

.sortable > li > ol li {
  background-color: #aaa;
  color: #fff;
  margin-left: 20px;
}

.sortable > li > ol li > ol li {
  background-color: #999;
  color: #fff;
}

ol > li > div {
  position: relative;
}

.sortable > li {
  position: relative;
  line-height: 40px;
  margin: auto;
  font-weight: bold;
  background: #EDEDED;
  border: 1px dashed white;
}

.sortable > li > div:hover {
  background: #0090c5;
  color: #fff;
  cursor: move;
}

.sortable li > div:hover {
  background: #0090c5;
  color: #fff;
  cursor: move;
}

.sortable > li :hover .delete {
  display: block;
}

.sortable .delete {
  position: absolute;
  height: auto;
  top: 0;
  right: 10px;
  background: transparent;
  display: none;
  color: white;
}

.sortable .delete:hover {
  background: transparent;
  cursor: pointer;
}

.sortable .delete:hover a {
  color: white;
}

.icon-bar {
  background-color: white;
}

/*corr*/
input.select2-search__field {
  margin-top: 0!important;
  padding: 8px 16px!important;
}

#cke_appbundle_post_content {
  margin-top: 14px;
}

.red {
  color: #c72828;
}

.searchResult {
  border-bottom: 1px solid rgba(225, 225, 225, 0.18);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.searchResult p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.box table td, .box table th {
  border-left: 1px solid rgba(225, 225, 225, 0.18);
  border-right: 1px solid rgba(225, 225, 225, 0.18);
}

.box table thead {
  border-top: 1px solid rgba(225, 225, 225, 0.18);
  border-bottom: 1px solid rgba(225, 225, 225, 0.18);
}

.box table tbody {
  border-bottom: 1px solid rgba(225, 225, 225, 0.18);
}

span.mark {
  background-color: #c72828;
  color: #fff;
}

span.green {
  background-color: #2DCC00;
  color: #fff;
}

div.highlight-audit-box {
  padding: 25px 20px;
  margin-top: 14px;
  font-size: 14px !important;
  line-height: 14px;
  color: #8b8a8a;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

select.revision-select {
  margin-top: 0!important;
}

#cke_1_contents {
  height: 500px!important;
}

/*cookie*/
/**
 * Divas Cookies jquery plugin for Cookie Policy banner stylesheet
 * @author: CodingDivas
 * @date: 2014/10/27
 * @version: 0.2 production
 */

.divascookies {
  position: fixed;
  top: inherit !important;
  bottom: 20px !important;
  color: #f9fafc;
  display: none;
  z-index: 999999;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 510px;
  max-width: 100%;
}

.divascookies > .divascookies-banner-container {
  position: relative;
  padding: 15px 20px;
  overflow: hidden;
  text-align: center;
  max-width: 510px;
  margin: 0 auto;
  background-color: #0090c5;
}

.divascookies p.divascookies-banner-text {
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  display: inline;
  font-family: Arial, sans-serif;
}

span.divascookies-policy-link {
}

span.divascookies-policy-link a {
  white-space: nowrap;
  text-decoration: underline;
  font-weight: lighter;
}

.divascookies-banner-container > .divascookies-accept-button-container {
  display: inline;
  margin-left: 10px;
}

.divascookies-accept-button-container > .divascookies-accept-button-text {
  font-size: 1.3em;
  cursor: pointer;
  color: #313131;
  display: inline;
}

