/*icone*/
.fa-universal-access {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

/*sidebar*/
li.programlusis span.icon, li.programlusis strong {
    color: #666;
}

li.programlusis:hover span.icon, li.programlusis:hover strong, li.programlusis.selected span.icon, li.programlusis.selected strong {
    color: #fff;
}

/*form*/
.lusis-trans-form input {
    padding: 6px 12px;
    width: 90%;
    max-width: 100%;
    background-color: #E0E0E0;
    border: 1px solid #aaa;
    color: #333;
}

.lusis-trans-form input:focus {
    background-color: #fff;
    border: 1px solid aliceblue;
}

@media only screen and (max-width: 991px){
    .lusis-trans-form input {
        width: 100px;
    }
}

.lusis-trans-form select {
    padding: 6px 12px;
    width: 100%;
    max-width: 100%;
    background-color: #E0E0E0;
    border: 1px solid #aaa;
    color: #333;
    text-align: center;
}

.lusis-trans-form option {
    padding: 6px 12px;
    background-color: #E0E0E0;
    color: #333;
}

.lusis-trans-form button[type="submit"] {
    float: right;
    float: right;
    border: 1px solid #aaa;
    color: #fff;
    background-color: #666;
    padding: 8px 16px;
    transition: all .2s ease-in;
}

.lusis-trans-form button[type="submit"]:hover {
    background-color: #444;
    box-shadow: 1px 1px 4px  #999 inset;
}

/*errors*/
.lusis-trans-error {
    color: #fff;
    background-color: #B0413E;
    padding: 6px 12px;
    display: none;
}

/*errors*/
.lusis-trans-success {
    color: #fff;
    background-color: darkgreen;
    padding: 6px 12px;
    display: none;
}