{% extends 'GkratzAdminBundle:admin:layout.html.twig' %}

{% block title %}{{ "Settings" | trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gkratzadmin/css/jquery.ezdz.min.css') }}">
{% endblock %}

{% block gkratz %}

    <section class="box">
        <div class="row">
            <h1>{{ 'Maintenance' | trans }}</h1>

                <form action="{{ path('gkratz_admin_maintenance_maintenance_maintenanceip') }}" method="post">
                    <fieldset class="row">
                        <label for="switch_state_label" class="sm-4">{{ 'State:' | trans }}
                            <strong>
                        <span id="switch_state_label" data-on="{{ 'online' | trans }}" data-off="{{ 'offline' | trans }}">
                            {% if my_site.info.maintenance == 1 %}{{ 'offline' | trans }}{% else %}{{ 'online' | trans }}{% endif %}
                        </span>
                            </strong>
                        </label>

                        <div class="sm-8">
                            <div class="onoffswitch float-right" data-on="{{ path('gkratz_admin_maintenance_maintenance_maintenanceswitch', {'state': 1}) }}" data-off="{{ path('gkratz_admin_maintenance_maintenance_maintenanceswitch', {'state': 0}) }}">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox switch_maintenance_state" id="myonoffswitch" {% if my_site.info.maintenance == 0 %}checked{% endif %}>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <label for="maintenance_ip_label" class="sm-4">{{ 'Exception IP' | trans }}</label>
                        <input type="text" id="maintenance_ip_label" class="sm-8" disabled value="{{ my_site.info.ip | geolocalize }}">
                        <span class="add-on"><i class="fa fa-map-marker"></i></span>

                        <label for="maintenance_cache_label" class="sm-4">{{ 'Cache' | trans }}</label>
                        <input type="text" id="maintenance_cache_label" class="sm-8" disabled value="{{ cache_size.value | number_format(0, ',', '.') }} {{ cache_size.unity }}">
                        <span class="add-on"><i class="fa fa-database"></i></span>
                    </fieldset>
                </form>
                <div class="sm-12 btn-bar text-right">
                    <a href="{{ path('gkratz_admin_maintenance_maintenance_maintenanceip') }}" class="maintenance_ip btn-info inline-block"><i class="fa fa-map-marker"></i> {{ 'Detect my IP' | trans }}</a>
                    <a href="{{ path('gkratz_admin_maintenance_maintenance_maintenancecache') }}" class="maintenance_cache btn-info inline-block"><i class="fa fa-refresh fa-spin"></i> {{ 'Delete cache' | trans }}</a>
                    <a href="{{ path('gkratz_admin_maintenance_maintenance_maintenancesearch') }}" class="maintenance_search btn-info inline-block"><i class="fa fa-remove"></i> {{ 'Delete search results' | trans }}</a>
                </div>
                <form action="{{ path('gkratz_admin_maintenance_maintenance_index') }}" method="post">
                    {% include '@GkratzAdmin/form/maintenance-date-edit.html.twig' %}
                    <div class="sm-12 btn-bar text-right">
                        <button type="submit" class="pointer btn-info inline-block float-right"><i class="fa fa-calendar"></i> {{ 'Update date' | trans }}</button>
                    </div>
                </form>

        </div>
    </section>
    <section class="box">
        <div class="row">
            <h1>{{ 'Main settings' | trans }}</h1>
            <form id="maintenance-edit" method="post" action="{{ path('gkratz_admin_maintenance_maintenance_index') }}" class="sm-12 keyCode" enctype="multipart/form-data">
                {% include '@GkratzAdmin/form/site-edit.html.twig' %}
                <div class="text-right">
                    <button type="submit" class="btn-info inline-block"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/ajax-admin.js') }}"></script>
    {% include '@GkratzAdmin/admin/__javascript/datepicker.html.twig' %}
    {% include '@GkratzAdmin/admin/__javascript/input-file.html.twig' %}
    {% if my_site.info.googleMapApikey != 'YOUR_APIKEY' %}
        <script type="text/javascript">
            function initPlaces() {
                var input = /** @type {!HTMLInputElement} */(
                        document.getElementById('appbundle_maintenance_googleMapMainAddress'));
                var autocomplete = new google.maps.places.Autocomplete(input);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&libraries=places&callback=initPlaces" async defer></script>
    {% endif %}
{% endblock %}