<div class="row-g">
    <div class="sm-6">
        <div>
            {{ form_errors(form.user) }}
        </div>
        <div class="row">
            {{ form_widget(form.user) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="sm-6">
        <div>
            {{ form_errors(form.type) }}
        </div>
        <div class="row">
            {{ form_widget(form.type) }}
            <span class="add-on"><i class="fa fa-tags"></i></span>
        </div>
    </div>
</div>
<fieldset class="row-g">
    <div class="sm-6">
        <div>
            {{ form_errors(form.date) }}
        </div>
        <div class="row">
            {{ form_widget(form.date.left_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="sm-6">
        <div class="row">
            {{ form_widget(form.date.right_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</fieldset>
{{ form_rest(form) }}