{% extends '@GkratzAdmin/admin/index.html.twig' %}

{% if displayMode in ["1", "3"] %}
    {% set fullScreen = true %}
{% endif %}

{% block buttons %}
    <div class="sm-12 btn-bar text-right">
        {% if entities is not empty %}
            <a class="btn-error inline-block disabled single-delete-button pointer"><i class="fa fa-trash"></i> {{ 'Delete' | trans }}</a>
            <a class="btn-info inline-block disabled single-download-button pointer" target="_blank"><i class="fa fa-download"></i> {{ 'Download' | trans }}</a>
        {% endif %}
        <a href="{{ path('backup_add_database') }}" class="btn-info inline-block single-backup-button"><i class="fa fa-plus"></i> {{ 'Add database backup' | trans }}</a>
        <a href="{{ path('backup_add_files') }}" class="btn-info inline-block single-backup-button"><i class="fa fa-plus"></i> {{ 'Add files backup' | trans }}</a>
    </div>
{% endblock %}

{% block entities %}

    {% if displayMode in ["0", "2"] %}

        <ul id="databaseListItems" class="list-inline">
            {% for entity in entities %}
                {% set ext = entity.type == 1 ? "sql" : "zip" %}
                {% set url = 'downloads/backupfrom' ~ entity.date | date('Y-m-d-H-i-s') ~ '.' ~ ext %}

                <li tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow bounceIn" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}"
                data-downloadurl="{{ asset(url) }}">

                <div>
                    <i class="fa fa-5x fa-{{ entity.type == 1 ? 'database' : 'file' }}"></i>
                </div>
                <p class="text-center">#{{ entity.id ~ ' ' ~ entity.date | date('d M Y') }}</p>

                </li>
            {% endfor %}
        </ul>

    {% else %}

        <div class="row-g">
            <div class="sm-12 table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(entities, '#', name ~ '.id') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Date' | trans, name ~ '.date') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Type' | trans, name ~ '.type') }} <i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'Size' | trans, name ~ '.size') }}<i class="fa fa-sort"></i></th>
                        <th>{{ knp_pagination_sortable(entities, 'User' | trans, 'u.username') }} <i class="fa fa-sort"></i></th>
                    </tr>
                    </thead>
                    <tbody id="databaseListItems">
                    {% for entity in entities %}
                        {% set ext = entity.type == 1 ? "sql" : "zip" %}
                        {% set url = 'downloads/backupfrom' ~ entity.date | date('Y-m-d-H-i-s') ~ '.' ~ ext %}
                        <tr tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow slideInRight" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}"
                            data-downloadurl="{{ asset(url) }}">
                            <td>{{ entity.id }}</td>
                            <td>
                                {{ entity.date | date('d M Y H:i:s') }}
                            </td>
                            <td>{{ entity.type == 1 ? 'database' | trans : 'files' | trans }}</td>
                            <td>{{ entity.size | size }}</td>
                            <td>{{ entity.user.username | capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(entities) }}
        </div>

    {% endif %}

{% endblock %}