<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ my_site.info.name | capitalize }} | {{ 'Maintenance' | trans }}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- font awesome for icons -->
    <link href="{{ asset('bundles/gkratzadmin/css/font-awesome.min.css') }}" rel="stylesheet">

    {% stylesheets filter="scssphp" output="css/maintenance.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/bootstrap.min.css"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/css/style-maintenance.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="soon-logo">{{ my_site.info.name | capitalize }}</h1>
                <div class="soon-info-text">
                    <h2>{{ 'Coming back soon' | trans }}</h2>
                    {# <p class="lead">Nous travaillons sur ce site et revenons aussi vite que possible</p> #}
                    <p class="lead">{{ 'Call us' | trans }}: <a href="tel:{{ my_site.info.phone }}">{{ my_site.info.phone }}</a></p>
                </div>
            </div>
        </div><!--intro text row-->
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="defaultCountdown"></div><!--countdown-->
            </div>
        </div><!--countdown row-->
    </div><!--.container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animated fadeInLeft">

                <form action="mailto:{{ my_site.info.email }}" class="form-inline soon-form" role="form" id="abonne-form">
                    <h4>{{ 'Keep in touch' | trans }}</h4>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">{{ 'Email address' | trans }}</label>
                        <input type="email" class="form-control" id="newsletter" placeholder="john.doe@mail.com" name="join">
                    </div>
                    <!-- <a type="submit" href="index.html" class="btn-white-border btn btn-lg"></a> -->
                    <button type="submit" style="color: #000;" class="btn-theme-color btn btn-lg">{{ 'Submit' | trans }}</button>
                </form>
                <div id="abondiv"></div>
            </div>
        </div>
    </div>
    <div id="maDate" class="hidden">{{ my_site.info.date|date('M d, Y H:i') }}</div>
    <footer id="footer">
        <ul class="list-inline soon-social">
            <li><a href="https://facebook.com/{{ my_site.info.facebook }}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/{{ my_site.info.twitter }}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://vsweb.be"><i class="fa fa-plus"></i></a></li>
        </ul>

        <span>&copy;{{ "now"|date('Y') }} | {{ my_site.info.name }}</span>
    </footer><!--footer-->
    <!--scripts and plugins -->

    {% javascripts filter="?jsqueeze" output="js/maintenance.js"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.min.js"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/js/bootstrap.min.js"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.easing.1.3.min.js"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.backstretch.min.js"
        "%kernel.root_dir%/../web/bundles/gkratzadmin/js/custom-maintenance.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if app.request.locale == 'fr' %}
        <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/jquery.countdown_fr.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('bundles/gkratzadmin/js/jquery.countdown.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        $(function() {
            var maDate=$('#maDate').text();
            var austDay = new Date(maDate);
            austDay = new Date(austDay);
            console.log(austDay);
            $('#defaultCountdown').countdown({until: austDay});
            $('#year').text(austDay.getFullYear());
        });
    </script>

</body>
</html>

