<fieldset class="row">
    {{ form_errors(form.name) }}
    <aside class="sm-4">
        {{ form_label(form.name) }}
    </aside>
    {{ form_widget(form.name) }}
    <span class="add-on">
        <i class="fa fa-tag"></i>
    </span>

    {{ form_errors(form.zoom) }}
    <aside class="sm-4">
        {{ form_label(form.zoom) }}
    </aside>
    {{ form_widget(form.zoom) }}
    <span class="add-on">
        <i class="fa fa-search-plus"></i>
    </span>

    {{ form_errors(form.theme) }}
    <aside class="sm-4">
        {{ form_label(form.theme) }}
    </aside>
    {{ form_widget(form.theme) }}

</fieldset>
<fieldset class="row"></fieldset>
<fieldset class="row"></fieldset>


{{ form_rest(form) }}