<a class="pointer btn-error float-left close-fancybox" onclick="$.fancybox.close()"><i class="fa fa-remove"></i> {{ 'Cancel' | trans }}</a>
<button type="submit" class="btn-info float-right"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>