<div class="text-right">
    <button id="reset" type="reset" name="reset" class="reset btn-error float-left half-width"><i class="fa fa-remove"></i> {{ 'Reset' | trans }}</button>
    <button type="submit" class="btn-info float-right half-width"><i class="fa fa-check"></i> {{ 'Search filter' | trans }}</button>
    <span class="clear-both"></span>
</div>