<div class="text-right">
    <a href="{{ path(indexRoute) }}" class="btn-error float-left half-width"><i class="fa fa-remove"></i> {{ 'Cancel' | trans }}</a>
    <button type="submit" class="btn-info float-right half-width"><i class="fa fa-save"></i> {{ 'Save' | trans }}</button>
    <span class="clear-both"></span>
</div>