{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <p class="error">{{ error.message }}</p>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}