<fieldset class="row">
    {{ form_errors(dateForm.date) }}
    <label for="maintenance_date_label" class="sm-4">
        {{ form_label(dateForm.date) }}
    </label>
    {{ form_widget(dateForm.date, {'attr': {'value': my_site.info.date | date('d M Y')}}) }}
    <span class="add-on"><i class="fa fa-calendar"></i></span>

    {{ form_errors(dateForm.time) }}
    <label for="maintenance_date_label" class="sm-4">
        {{ form_label(dateForm.time) }}
    </label>
    {{ form_widget(dateForm.time, {'attr': {'value': my_site.info.date | date('H:i')}}) }}
    <span class="add-on"><i class="fa fa-calendar"></i></span>
    {{ form_rest(dateForm) }}
</fieldset>