<fieldset class="row">
    {{ form_errors(maintenance.name) }}
    <aside class="sm-4">
        {{ form_label(maintenance.name) }}
    </aside>
    {{ form_widget(maintenance.name) }}
    <span class="add-on"><i class="fa fa-tag"></i></span>

    {{ form_errors(maintenance.email) }}
    <aside class="sm-4">
        {{ form_label(maintenance.email) }}
    </aside>
    {{ form_widget(maintenance.email) }}
    <span class="add-on"><i class="fa fa-at"></i></span>

    {{ form_errors(maintenance.phone) }}
    <aside class="sm-4">
        {{ form_label(maintenance.phone) }}
    </aside>
    {{ form_widget(maintenance.phone) }}
    <span class="add-on"><i class="fa fa-phone"></i></span>

</fieldset>
<fieldset class="row">

    {{ form_errors(maintenance.facebook) }}
    <aside class="sm-4">
        {{ form_label(maintenance.facebook) }}
    </aside>
    {{ form_widget(maintenance.facebook) }}
    <span class="add-on"><i class="fa fa-facebook"></i></span>

    {{ form_errors(maintenance.twitter) }}
    <aside class="sm-4">
        {{ form_label(maintenance.twitter) }}
    </aside>
    {{ form_widget(maintenance.twitter) }}
    <span class="add-on"><i class="fa fa-twitter"></i></span>

</fieldset>
<fieldset class="row">

    {{ form_errors(maintenance.googleMapApikey) }}
    <aside class="sm-4">
        {{ form_label(maintenance.googleMapApikey) }}
    </aside>
    {{ form_widget(maintenance.googleMapApikey) }}
    <span class="add-on"><i class="fa fa-map"></i></span>

    {{ form_errors(maintenance.googleMapMainAddress) }}
    <aside class="sm-4">
        {{ form_label(maintenance.googleMapMainAddress) }}
    </aside>
    {{ form_widget(maintenance.googleMapMainAddress) }}
    <span class="add-on"><i class="fa fa-map-pin"></i></span>

</fieldset>
<fieldset class="row">

    {{ form_errors(maintenance.logoSrc) }}
    <aside class="sm-4">
        {{ form_label(maintenance.logoSrc) }}
    </aside>
    {{ form_widget(maintenance.logoSrc) }}
    <span class="add-on"><i class="fa fa-picture-o"></i></span>
</fieldset>
    {{ form_rest(maintenance) }}

