{#
    This template is used to render any error different from 403, 404 and 500.

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block body_id 'error' %}

{% block title %}
    403
{% endblock %}

{% block body %}
    <h1 class="red">{{ 'Permission denied'|trans() }}</h1>

    <h2 class="lead">
        <i class="fa fa-lock red"></i> {{ "You don't have the permission to access this page. Ask the permission to an administrator if you really need it!" | trans() }}
    </h2>
    <p>
        {{ 'Come back to the' | trans() }} <a href="{{ path('homepage') }}"> <i class="fa fa-home"></i> {{ 'Homepage' | trans }}</a>
    </p>
{% endblock %}

{% block stylesheets %}
    <style>
        .red {
            color: red;
            font-size: 50px;
            float: left;
            margin: 0 10px 10px;
        }
    </style>
{% endblock %}
