<div class="row-g">
    <div class="sm-4">
        <div>
            {{ form_errors(form.username) }}
        </div>
        <div class="row">
            {{ form_widget(form.username) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.lastname) }}
        </div>
        <div class="row">
            {{ form_widget(form.lastname) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.firstname) }}
        </div>
        <div class="row">
            {{ form_widget(form.firstname) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
</div>
<div class="row-g">
    <div class="sm-3">
        <div>
            {{ form_errors(form.address) }}
        </div>
        <div class="row">
            {{ form_widget(form.address) }}
            <span class="add-on"><i class="fa fa-map-signs"></i></span>
        </div>
    </div>
    <div class="sm-6">
        <div>
            {{ form_errors(form.email) }}
        </div>
        <div class="row">
            {{ form_widget(form.email) }}
            <span class="add-on"><i class="fa fa-at"></i></span>
        </div>
    </div>
    <div class="sm-3">
        <div>
            {{ form_errors(form.roles) }}
        </div>
        <div class="row">
            {{ form_widget(form.roles) }}
            <span class="add-on"><i class="fa fa-user"></i></span>
        </div>
    </div>
</div>
<fieldset class="row-g">
    <div class="sm-4">
        <div>
            {{ form_errors(form.phoneNumber) }}
        </div>
        <div class="row">
            {{ form_widget(form.phoneNumber) }}
            <span class="add-on"><i class="fa fa-phone"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div>
            {{ form_errors(form.lastLogin) }}
        </div>
        <div class="row">
            {{ form_widget(form.lastLogin.left_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="sm-4">
        <div class="row">
            {{ form_widget(form.lastLogin.right_date) }}
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</fieldset>
{{ form_rest(form) }}