<fieldset class="row">

    {{ form_errors(form.username) }}
    <aside class="sm-4">
        {{ form_label(form.username) }}
    </aside>
    {{ form_widget(form.username) }}
    <span class="add-on">
        <i class="fa fa-user"></i>
    </span>

    {{ form_errors(form.email) }}
    <aside class="sm-4">
        {{ form_label(form.email) }}
    </aside>
    {{ form_widget(form.email) }}
    <span class="add-on">
        <i class="fa fa-at"></i>
    </span>
</fieldset>

<fieldset class="row">
    {{ form_errors(form.lastname) }}
    <aside class="sm-4">
        {{ form_label(form.lastname) }}
    </aside>
    {{ form_widget(form.lastname) }}
    <span class="add-on">
        <i class="fa fa-user"></i>
    </span>

    {{ form_errors(form.firstname) }}
    <aside class="sm-4">
        {{ form_label(form.firstname) }}
    </aside>
    {{ form_widget(form.firstname) }}
    <span class="add-on">
        <i class="fa fa-user"></i>
    </span>

    {{ form_errors(form.phoneNumber) }}
    <aside class="sm-4">
        {{ form_label(form.phoneNumber) }}
    </aside>
    {{ form_widget(form.phoneNumber) }}
    <span class="add-on">
        <i class="fa fa-phone"></i>
    </span>

    {{ form_errors(form.birthdate) }}
    <aside class="sm-4">
        {{ form_label(form.birthdate) }}
    </aside>
    {{ form_widget(form.birthdate) }}
    <span class="add-on">
        <i class="fa fa-calendar"></i>
    </span>
</fieldset>

<fieldset class="row">
    {{ form_errors(form.address) }}
    <aside class="sm-4">
        {{ form_label(form.address) }}
    </aside>
    {{ form_widget(form.address) }}}}
    <span class="add-on">
        <i class="fa fa-map-signs"></i>
    </span>
</fieldset>
{{ form_rest(form) }}