{% extends '@GkratzAdmin/admin/index.html.twig' %}

{% if displayMode in ["3", "1"] %}
    {% set fullScreen = true %}
{% endif %}

{% block buttons %}
    <div class="sm-12 btn-bar text-right">
        {% if entities is not empty %}
            <a class="btn-error inline-block disabled single-delete-button pointer"><i class="fa fa-trash"></i> {{ 'Delete' | trans }}</a>
            <a class="btn-info inline-block disabled single-admin-button"><i class="fa fa-user-secret"></i> {{ 'Admin' | trans }}</a>
            <a class="btn-info inline-block disabled single-view-button"><i class="fa fa-eye"></i> {{ 'View' | trans }}</a>
            <a class="btn-info inline-block disabled single-edit-button"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
        {% endif %}
        <a href="{{ path('gkratz_admin_admin_' ~ name ~ '_add') }}" class="btn-info inline-block"><i class="fa fa-plus"></i> {{ 'Add' | trans }}</a>
    </div>
{% endblock %}

{% block entities %}
        {% if displayMode in ["0", "2"] %}

            <ul id="databaseListItems" class="list-inline">
                {% for entity in entities %}
                    <li tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow bounceIn" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}" data-admin="{{ entity.hasRole('ROLE_ADMIN') ? 1 : 0 }}"
                        data-editurl="{{ path('gkratz_admin_admin_' ~ name ~ '_edit', {id: entity.id}) }}"
                        data-viewurl="{{ path('gkratz_admin_admin_' ~ name ~ '_view', {id: entity.id}) }}"
                        data-adminurl="{{ path('gkratz_admin_admin_' ~ name ~ '_admin', {user: entity.id, state: (entity.hasRole('ROLE_ADMIN') ? 0 : 1)}) }}">

                        <div>
                            <i class="fa fa-5x fa-user{{ entity.hasRole('ROLE_ADMIN') ? '-secret' : '' }}"></i>
                        </div>
                        <p class="text-center">{{ entity.username | capitalize | truncate(17) }}</p>

                    </li>
                {% endfor %}
            </ul>

        {% else %}

            <div class="row-g">
                <div class="sm-12 table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(entities, '#', name ~ '.id') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Username' | trans, name ~ '.username') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Email' | trans, name ~ '.email') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Firstname' | trans, name ~ '.firstname') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Lastname' | trans, name ~ '.lastname') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Address' | trans, name ~ '.address') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Phone' | trans, name ~ '.phoneNumber') }} <i class="fa fa-sort"></i></th>
                            <th>{{ knp_pagination_sortable(entities, 'Birthdate' | trans, name ~ '.birthdate') }} <i class="fa fa-sort"></i></th>
                            <th>{{ 'Roles' | trans }}</th>
                            <th>{{ knp_pagination_sortable(entities, 'Last login' | trans, name ~ '.lastLogin') }} <i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody id="databaseListItems">
                        {% for entity in entities %}
                            <tr tabindex="{{ loop.index }}" class="databaseItem draggable-database-item wow slideInRight" data-wow-delay="{{ loop.index / 10 }}s" data-id="{{ entity.id }}" data-admin="{{ entity.hasRole('ROLE_ADMIN') ? 1 : 0 }}"
                                data-editurl="{{ path('gkratz_admin_admin_' ~ name ~ '_edit', {id: entity.id}) }}"
                                data-viewurl="{{ path('gkratz_admin_admin_' ~ name ~ '_view', {id: entity.id}) }}"
                                data-adminurl="{{ path('gkratz_admin_admin_' ~ name ~ '_admin', {user: entity.id, state: (entity.hasRole('ROLE_ADMIN') ? 0 : 1)}) }}">
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.username }}</td>
                                <td>{{ entity.email }}</td>
                                <td>{{ entity.firstname }}</td>
                                <td>{{ entity.lastname }}</td>
                                <td>{{ entity.address }}</td>
                                <td>{{ entity.phoneNumber }}</td>
                                <td>
                                    {{ entity.birthdate is not null ? entity.birthdate | date('d M Y') : "N/A" }}
                                </td>
                                <td>
                                    <ul class="list-style-none">
                                        {% for role in entity.roles %}
                                            <li><em>{{ role }}</em></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ entity.lastLogin is not null ? entity.lastLogin | date('d M Y H:i') : "N/A" }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="navigation text-center">
                {{ knp_pagination_render(entities) }}
            </div>

        {% endif %}

{% endblock %}