<script>
    $(document).ready(function(){
        $('#databaseListItems').contextMenu({
            selector: '.databaseItem',
            callback: function(key, options) {
                $(this).addClass('selected');
                {% if crud == 'user' %}
                    if(key == 'edit'){
                        window.location.pathname = $(this).data('editurl');
                    } else if(key == 'delete'){
                        multipleContextSubmit([], $('#multiple-delete input[name="appbundle_multiple_actions[ids]"]'), $('#multiple-delete'), $('#multiple-delete').attr('action'), true);
                    } else if(key == 'admin'){
                        requestResponseAjax($('.single-admin-button').attr('href'), null, $('.single-admin-button'));
                    } else if(key == 'view'){
                        window.location.pathname = $(this).data('viewurl');
                    }
                {% elseif crud == 'backup' %}
                    if(key == 'delete'){
                        multipleContextSubmit([], $('#multiple-delete input[name="appbundle_multiple_actions[ids]"]'), $('#multiple-delete'), $('#multiple-delete').attr('action'), true);
                    } else if(key == 'download'){
                        window.location.pathname = $(this).data('downloadurl');
                    }
                {% elseif crud == 'trash' %}
                    var $actionBasePieces = $('#multiple-restore').data('action').split("/0");
                    if(key == 'restore'){
                        multipleContextSubmit([], $('#multiple-restore input[name="appbundle_multiple_actions[ids]"]'), $('#multiple-restore'), $actionBasePieces[0] + "/0", true);
                    } else if(key == 'permanentDelete'){
                        multipleContextSubmit([], $('#multiple-restore input[name="appbundle_multiple_actions[ids]"]'), $('#multiple-restore'), $actionBasePieces[0] + "/2", true);
                    }
                {% else %}
                    if(key == 'edit'){
                        window.location.pathname = $(this).data('editurl');
                    } else if(key == 'view'){
                        window.location.pathname = $(this).data('viewurl');
                    } else if(key == 'delete'){
                        multipleContextSubmit([], $('#multiple-delete input[name="appbundle_multiple_actions[ids]"]'), $('#multiple-delete'), $('#multiple-delete').attr('action'), true);
                    }
                {% endif %}
            },
            items: {
                {% if crud == 'user' %}
                    "edit": {name: "{{ "Edit" | trans }}", icon: "edit"},
                    "view": {name: "{{ "View" | trans }}", icon: "fa-eye"},
                    "admin": {name: "{{ "Admin" | trans }}", icon: "fa-user-secret"},
                    "delete": {name: "{{ "Delete" | trans }}", icon: "delete"},
                {% elseif crud == 'backup' %}
                    "download": {name: "{{ "Download" | trans }}", icon: "fa-download"},
                    "delete": {name: "{{ "Delete" | trans }}", icon: "delete"},
                {% elseif crud == 'trash' %}
                    "restore": {name: "{{ "Restore" | trans }}", icon: "fa-undo"},
                    "permanentDelete": {name: "{{ "Permanent delete" | trans }}", icon: "delete"},
                {% else %}
                    "edit": {name: "{{ "Edit" | trans }}", icon: "edit"},
                    "view": {name: "{{ "View" | trans }}", icon: "fa-eye"},
                    "delete": {name: "{{ "Delete" | trans }}", icon: "delete"},
                {% endif %}
                "sep1": "---------",
                "quit": {name: "{{ "Quit" | trans }}", icon: function($element, key, item){ return 'context-menu-icon context-menu-icon-quit'; }}
            }
        });
    });
</script>