<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for day in days %}'{{ day }}', {% endfor %}],
            datasets: [{
                label: '{{ "analytics.graph.visits.week" | trans({}, "analytics") }}',
                data: [{% for count in counts %}{{ count ~ ',' }}{% endfor %}],
                borderColor: [
                    '#e2b329'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });
</script>