<script>
        var $dateP = $('.datepicker').pickadate({
            monthsFull: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
            weekdaysShort: ['{{ 'Sun' | trans({}, 'messages') }}', '{{ 'Mon' | trans({}, 'messages') }}', '{{ 'Tue' | trans({}, 'messages') }}', '{{ 'Wed' | trans({}, 'messages') }}', '{{ 'Thu' | trans({}, 'messages') }}', '{{ 'Fri' | trans({}, 'messages') }}', '{{ 'Sat' | trans({}, 'messages') }}'],
            today: '{{ 'today' | trans({}, 'messages') }}',
            clear: '{{ 'reset' | trans({}, 'messages') }}',
            format: 'yyyy-mm-dd',
            formatSubmit: 'dd/mm/yyyy',
            labelYearSelect: '{{ 'select the year' | trans }}',
            selectYears: true
        });

        var $timeP = $('.timepicker').pickatime({
            formatSubmit: 'H:i'
        });


    $('[type="reset"]').click(function(e){
        $(this).closest('form')
                .find(':radio, :checkbox').removeAttr('checked').end()
                .find('textarea, :text, select').val('');

        $('.gk-select2').val('').trigger("change");
        $('.gk-select2').find('option').prop('selected', function() {
            return this.defaultSelected;
        });
        $('.gk-select').trigger('change.select2');

        $('.datepicker').each(function(){
            $('input[name="' + $(this).attr('name') + '"]').val('');
            $('input[name="' + $(this).attr('name') + '_submit"]').val('');
        });

        return false;
    });
</script>