<script style="display: none" type="text/javascript">
    // global map
    var map;

    var infoTextHome = function(){/*
        {{ map.infoText | raw }}
    */}.toString().slice(14,-3);

    function initMap() {
        // default config
        $options = {
            'selector'  : 'myMap{{ map.id }}',
            'zoom'      : {{ map.zoom }},
            'theme'     : {{ map.theme }},
            'home'      : {
                'address'   : '{{ my_site.info.googleMapMainAddress }}',
                'title'     : '{{ map.title }}',
                'icon'      : {
                    'url'       : '{{ asset('bundles/gkratzadmin/assets/map/markers/marker-home-' ~ constant("AppBundle\\Entity\\Map::iconColors")[map.mainAddressIconColor] ~ map.mainAddressIconSize ~ '.png') }}'
                },
                'size'      : {{ map.mainAddressIconSize }},
                'infoBulle' : '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">{{ map.title }}</h1>'+
                    '<div id="bodyContent">'+
                        infoTextHome +
                    '</div>'+
                    '</div>'
            },
            'markers'           : [
                {
                    'address'   : "rue des ecoles 50, 4171 poulseur",
                    'title'     : 'Hello World!',
                    'icon'      : {
                        'url'       : '{{ asset('bundles/gkratzadmin/assets/map/markers/marker-user-red' ~ 1 ~ '.png') }}'
                    },
                    'size'      : 1,
                    'infoBulle' : '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                    'sandstone rock formation in the southern part of the '+
                    'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
                    'south west of the nearest large town, Alice Springs; 450&#160;km '+
                    'Heritage Site.</p>'+
                    '</div>'+
                    '</div>'
                },
                {
                    'address'   : "rue des ecoles 10, 4171 poulseur",
                    'title'     : 'Hello World!',
                    'icon'      : {
                        'url'       : '{{ asset('bundles/gkratzadmin/assets/map/markers/marker-building-blue' ~ 2 ~ '.png') }}'
                    },
                    'size'      : 2,
                    'infoBulle' : '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                    'sandstone rock formation in the southern part of the '+
                    'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
                    'south west of the nearest large town, Alice Springs; 450&#160;km '+
                    'Heritage Site.</p>'+
                    '</div>'+
                    '</div>'
                }
            ]
        };
        loadMap($options);

        // manage changes
    }

    /**
     * @param $options
     */
    function loadMap($options) {
        // set map params
        $filteredOptions = {
            scrollwheel: true,
            zoom: $options.zoom
        };

        // set map theme
        if ($options.theme == 2){
            $filteredOptions.styles = {% include '@GkratzAdmin/admin/map/partial/map-theme-night.html.twig' %};
        } else if ($options.theme == 3){
            $filteredOptions.styles = {% include '@GkratzAdmin/admin/map/partial/map-theme-red.html.twig' %};
        }

        geocoder = new google.maps.Geocoder();

        // modify map center and home address into lat and lng
        geocoder.geocode({
            'address': $options.home.address
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                $filteredOptions.center = results[0].geometry.location;

                // set map
                map = new google.maps.Map(document.getElementById($options.selector), $filteredOptions);

                // set marker home
                setMarker($options.home, results[0]);
            }
        });

        // set all the markers
        $options.markers.forEach(function (marker) {
            geocoder.geocode({
                'address': marker.address
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    setMarker(marker, results[0]);
                }
            });
        });
    }

    /**
     * @param $marker
     * @param $position
     */
    function setMarker($marker, $position){
        var infoBulle = new google.maps.InfoWindow({
            content: $marker.infoBulle
        });

        $marker.map = map;
        $marker.position = $position.geometry.location;
        $marker.draggable = true;
        $marker.animation = google.maps.Animation.DROP;
        if ($marker.size == 3) {
            tempWidth = 100;
            tempHeight = 152;
        } else if ($marker.size == 2) {
            tempWidth = 67;
            tempHeight = 101;
        } else if ($marker.size == 1) {
            tempWidth = 33;
            tempHeight = 50;
        }
        $marker.icon.size = new google.maps.Size(tempWidth, tempHeight)
        var marker = new google.maps.Marker($marker);

        marker.addListener('click', function() {
            infoBulle.open(map, marker);
        });
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>

<script style="display: none" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ my_site.info.googleMapApikey }}&callback=initMap" async defer></script>