<script>
    $('input[type="file"]').ezdz({
        text: "{{ 'drop a picture' | trans }}",
        validators: {
            maxSize: 5000000
        },
        reject: function(file, errors) {
            if (errors.mimeType) {
                $(this).parent().before('<p class="error">{{ 'the file must be an image.' | trans }}</p>');
            }

            if (errors.maxSize) {
                $(this).parent().before('<p class="error">{{ 'the file must be size:5Mo max.' | trans }}</p>');
            }
        }
    });
</script>