<script type="text/javascript">
    $(document).ready(function(){
        document.addEventListener('keydown', function (e){
            var $originalUrl = '{{ original_url }}';

            if($originalUrl != 'fos_user_profile_show'){
                if(e.ctrlKey && e.keyCode === 'P'.charCodeAt(0)) {
                    e.preventDefault();
                    window.location.pathname='{{ path('fos_user_profile_show') }}';
                }
            }

            if(e.ctrlKey && e.keyCode === 'H'.charCodeAt(0)) {
                e.preventDefault();
                window.location.pathname='{{ path('homepage') }}';
            }

            {% if app.user.hasRole('ROLE_ADMIN') %}
                if($originalUrl != 'gkratz_admin_admin_dashboard_index'){
                    if(e.ctrlKey && e.keyCode === 'B'.charCodeAt(0)) {
                        e.preventDefault();
                        window.location.pathname='{{ path('gkratz_admin_admin_dashboard_index') }}';
                    }
                }

                if(e.ctrlKey && e.keyCode === 'A'.charCodeAt(0)) {
                    e.preventDefault();
                    if($('.databaseItem').length == $('.databaseItem.selected').length){
                        $('.databaseItem').removeClass('selected');
                        $('.single-delete-button').addClass('disabled');
                        $('.single-restore-button').addClass('disabled');
                        $('.single-permanent-delete-button').addClass('disabled');
                    } else {
                        $('.databaseItem').addClass('selected');
                        $('.single-delete-button').removeClass('disabled');
                        $('.single-restore-button').removeClass('disabled');
                        $('.single-permanent-delete-button').removeClass('disabled');
                    }
                }

                if(e.ctrlKey && e.keyCode === 'S'.charCodeAt(0)) {
                    e.preventDefault();
                    $('form.keyCode input[required="required"]').click(function(e){
                        $(this).removeClass('redborder');
                    });
                    $('form.keyCode input[required="required"]').each(function(){
                        if($(this).val().length == 0){
                            $(this).addClass('redborder');
                        }
                    });
                    if($('form.keyCode').checkValidity()){
                        $('form.keyCode').submit();
                    }
                }
            {% endif  %}
        });
    });
</script>