<script>
    function initNested() {
        $('ol.sortable').nestedSortable({
            handle: 'div',
            items: 'li',
            toleranceElement: '> div',
            connectWith: '.sortable',
            maxLevels: 3,
            isAllowed: function (placeHolder, parent, item) {
                if (placeHolder !== null) {
                    $.each(placeHolder, function (key, value) {
                        console.log('placeHolder : ', key, value);
                    });
                }
                if (typeof parent !== 'undefined') {
                    console.log('parent: ', parent);
                }
                console.log('three: ', item);
                return true;
            }
        });
    }

    initNested();

    $('#serialize1').click(function () {
        serialized = $('#free_menu').nestedSortable('serialize');
        $('#serializeOutput1').text(serialized + '\n\n');
    });

    $('#serialize2').click(function () {
        serialized = $('#my_menu').nestedSortable('serialize');
        console.log(serialized);
        $('#serializeOutput2').text(serialized + '\n\n');
    });

    $('#saveMyMenu').click(function () {
        myMenu = $('#my_menu').nestedSortable('serialize');

        addWaiter();

        $.post('{{ path('gkratz_admin_admin_menu_save') }}', {'myMenu': myMenu, 'parentMenu': $field.val()}, function (data) {
            $('.sk-cube-grid').remove();
            messageTimed(null, 2, data.message);
        }).fail(function (data) {
            $('.sk-cube-grid').remove();
            messageTimed(null, 3, data.message);
        });
    });

    $('#menu').on('click', '.deleteLink', function (e) {
        e.preventDefault();
        var $this = $(this);
        var id = $this.attr('data-id');
        var href = $this.attr('href');

        addWaiter();

        $.get(href).statusCode(function(){

        }).done(function (data) {
            $('.sk-cube-grid').remove();
            if(data.error == 0){
                $this.closest('li').remove();
                initNested();
                messageTimed(null, 2, data.message);
            } else {
                messageTimed(null, 3, data.message);
            }
        }).fail(function(jqXHR){
            $('.sk-cube-grid').remove();
            if(jqXHR.status==500 || jqXHR.status==0){
                messageTimed(null, 3, '{{ 'Impossible to delete a parent item! Remove children, save the menu and try again!' | trans }}');
            }
        });
    });

    $('.collapse-link').click(function(e){
        e.preventDefault();
        var cible = $('.x_content' + $(this).data('cible') + ' .sortable');
        cible.toggleClass('hide');
        if(cible.hasClass('hide')){
            cible.slideUp('slow');
            $(this).html('<i class="fa fa-chevron-down"></i>');
        } else {
            cible.slideDown('slow');
            $(this).html('<i class="fa fa-chevron-up"></i>');
        }
    });
</script>