<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>{{ my_site.info.name | capitalize }} | {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gkratzadmin/css/font-awesome.min.css') }}">

    {% stylesheets filter="scssphp" output="css/profile.css"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/css/classic.css"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/css/classic.date.css"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/css/select2.min.css"
    "%kernel.root_dir%/../web/bundles/gkratzadmin/css/iroom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <!--balises meta-->
    <meta name="author" content="KRATZ Geoffrey"/>
    <meta name="description" content="BLA BLA BLA"/>
    <meta name="keywords" content="BLA, BLA, BLA"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="animated link-animated">
<div class="animation-loading"><div></div></div>
<!-- enlever class animated du body pour désactiver et les divs au dessus -->

<section class="site-container">
    <div class="site-pusher">
        {% block menu %}{% endblock %}
        <div class="row">
            <section class="sm-10 md-8 lg-6 sm-offset-1 md-offset-2 lg-offset-3 fosuser">
                <div class="box">
                    <div class="row">
                        <h1>{{ block('title') }}</h1>

                        {% include '@GkratzAdmin/admin/__partial/flashbag-fosuser.html.twig' %}

                        <div class="row-g">
                            {% if app.request.attributes.get('_route') != 'homepage' %}
                                <a href="{{ path('homepage') }}" class="block" title="CTRL + H"><i class="fa fa-arrow-left"></i> {{ 'Home' | trans }} <i class="fa fa-home"></i></a>

                                {% if app.user is not null %}
                                    {% if app.user.hasRole('ROLE_ADMIN') %}
                                        <a href="{{ path('gkratz_admin_admin_dashboard_index') }}" class="block" title="CTRL + B"><i class="fa fa-arrow-left"></i> {{ 'Dashboard' | trans }} <i class="fa fa-dashboard"></i></a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a href="{{ path('gkratz_admin_admin_dashboard_index') }}" class="block"><i class="fa fa-arrow-left"></i> {{ 'Dashboard' | trans }} <i class="fa fa-dashboard"></i> (admin-admin)</a>
                            {% endif %}

                            {% if app.user is not null %}
                                <a href="{{ path('fos_user_security_logout') }}" class="block"><i class="fa fa-arrow-left"></i> {{ 'sign out' | trans({}, 'messages') }} <i class="fa fa-sign-out"></i></a>
                            {% endif %}
                        </div>


                        {% block fos_user_content %}
                        {% endblock fos_user_content %}

                        {% block body %}
                        {% endblock body %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% javascripts filter="?jsqueeze" output="js/profile.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.min.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.ezdz.min.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.time.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/picker.date.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/jquery.validate.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/text-effect.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/select2.full.min.js"
"%kernel.root_dir%/../web/bundles/gkratzadmin/js/iroom.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if app.user is not null %}
    {% set original_url = 'fos_user_profile_show' %}
    {% include '@GkratzAdmin/admin/__javascript/keys.html.twig' %}
{% endif %}

{% block javascripts %}{% endblock %}

<div class="animation-link"></div>
<!-- enlever class link-animated du body pour désactiver et les divs au dessus -->
<div id="scroll-to-top" class="btn-primary hidden"><i class="fa fa-chevron-up"></i></div>
</body>
</html>